@model MODAMS.Models.ViewModels.dtoDepartmentHeads

<style>
    .custom-row {
        margin-right: -20px;
        margin-left: -20px;
    }

        .custom-row [class^="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }
</style>


<div class="page-header">
    <div>
        <h1 class="page-title">Departments</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Departments" asp-action="Index">Departments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Department Heads</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">Assign Owner</h4>
                    <div class="btn-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="AssignOwner" id="frmAssignOwner">
                    <input asp-for="DepartmentId" hidden />
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="container">
                                <div class="form-group">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select name="EmployeeId" id="EmployeeId" asp-items="@Model.Employees"
                                                        class="form-control select2-style1 form-select">
                                                    <option value="0">Vacant</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <button class="btn btn-outline-primary mt-1"><i class="fa fa-user"></i>&nbsp;Assign Owner</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body project-list-table-container">
                <div class="col-md-8">
                <div class="table-responsive">
                    <table id="tblDepartmentHeads" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                        <thead class="table-head">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">S.No</th>
                                <th class="bg-transparent border-bottom-0">Owner Name</th>
                                <th class="bg-transparent border-bottom-0">Date From</th>
                                <th class="bg-transparent border-bottom-0">Date To</th>
                                <th class="bg-transparent border-bottom-0">Is Active</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                int nCounter = 0;
                                string sCounter = "";
                                foreach (var dh in Model.DepartmentHeads)
                                {
                                    nCounter++;
                                    sCounter = (nCounter < 10) ? '0' + nCounter.ToString() : nCounter.ToString();
                                    <tr>
                                        <td class="text-muted fs-15 fw-semibold text-center">@sCounter.</td>
                                        <td class="text-muted fs-15 fw-semibold">
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <span>
                                                        <img style="min-width:30px;" src="@dh.Employee.ImageUrl" alt="profile-user" class="data-image avatar avatar-lg rounded-circle">
                                                    </span>
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">@dh.Employee.FullName</h6>
                                                    <span class="text-muted fs-12">@dh.Employee.Email</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-muted fs-15 fw-semibold">@dh.StartDate.ToString("dd-MMM-yyyy")</td>
                                        <td class="text-muted fs-15 fw-semibold">@dh.EndDate?.ToString("dd-MMM-yyyy")</td>
                                        <td class="text-muted fs-15 fw-semibold">@dh.IsActive</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <a asp-area="Admin" asp-controller="Departments" asp-action="Index" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
            </div>
        </div>
    </div>
</div>
<section id="dvFacesData" style="display:none;"></section>

@section Scripts{
    <script>
        $(document).ready(() => {
            loadFaces();

            $('#tblDepartmentHeads').DataTable({
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                }
            });

            //$('.select2').select2({
            //    //dropdownParent: $("#mdlDepartmentHeads")
            //});


        });

        const loadFaces = () => {
            var postData = {};
            $.ajax({
                url: '/Admin/Employees/GetFaces',
                datatype: "json",
                data: postData,
                beforeSend: function () {

                },
                success: function (e) {
                    $("#dvFacesData").html("").html(e);
                },
                complete: function () {
                    setSelect2();
                }
            });
        }
        const setSelect2 = () => {
            $(".select2-style1").select2({
                templateResult: select2Style1,
                templateSelection: select2Style1,
                escapeMarkup: function (m) { return m; }
            });
        }

        function select2Style1(data) {
            if (!data.id) { return data.text; }
            console.log(data.text);
            var $data = $(
                '<span>' + getFace(data.element.value.toLowerCase()) + data.text + '</span>'
            );
            return $data;
        };

        const getFace = (id) => {
            console.log("face id: " + id);
            var sFace = '<img src="/assets/images/faces/profile_placeholder.png" class="rounded-circle avatar-sm" />';

            var sData = $("#dvFacesData").html();
            if (sData != "No Records Found") {
                var Data = JSON.parse(sData);
                Data.forEach((e) => {
                    if (id == e.Id) {
                        sFace = '<img src="' + e.ImageUrl + '" class="rounded-circle avatar-sm" />';
                    }
                });
            }
            console.log(sFace);
            return sFace;
        }

    </script>
    }
