@model MODAMS.Models.ViewModels.Dto.dtoDepartmentHeads
<style>
    .custom-row {
        margin-right: -20px;
        margin-left: -20px;
    }

        .custom-row [class^="col-"] {
            padding-right: 10px;
            padding-left: 10px;
        }

</style>


<div class="page-header">
    <div>
        <h1 class="page-title">Departments</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Departments" asp-action="Index">Departments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Department Heads</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-left">
                    <div class="m-0 h4">@Model.DepartmentName</div>&nbsp;&nbsp;
                    @{
                        string bgType = "bg-success";
                        if (Model.Owner == "Vacant")
                            bgType = "bg-danger";
                    }
                    <span class="badge @bgType my-1">@Model.Owner</span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <div class="card ">
                            <div class="card-header bg-gray-300">
                                <h3 class="card-title ">Store Owner</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x "></i></a>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                @{
                                    var dhRow = Model.DepartmentHeads.Where(m => m.IsActive == true).FirstOrDefault();

                                    string sImageUrl = "/assets/images/faces/profile_placeholder.png";
                                    string sJobTitle = "";
                                    string sPhone = "";
                                    string sEmail = "";

                                    if (dhRow != null)
                                    {
                                        sImageUrl = dhRow.Employee.ImageUrl;
                                        sJobTitle = dhRow.Employee.JobTitle;
                                        sPhone = dhRow.Employee.Phone;
                                        sEmail = dhRow.Employee.Email;
                                    }

                                }

                                <span><img src="@sImageUrl" class="avatar avatar-xxl brround cover-image cover-image"></span>
                                <h4 class="h4 mb-0 mt-3">@Model.Owner</h4>
                                <p class="card-text">@sJobTitle</p>
                                <div>
                                    <a class="btn btn-primary-gradient btn-sm mb-2" data-bs-target="#mdlAssignOwner" data-bs-toggle="modal" href="javascript:void(0)">Manage Ownership</a>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <div class="row user-social-detail d-flex justify-content-center align-items-center">
                                    <a href="#" class="social-profile me-4 rounded d-flex align-items-center justify-content-center">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                    @sPhone
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="#" class="social-profile me-4 rounded d-flex align-items-center justify-content-center">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    @sEmail
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COL END -->
                    <div class="col-md-8 col-xl-8">
                        <div class="card ">
                            <div class="card-header bg-gray-300">
                                <h3 class="card-title ">Store Users</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x "></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main" id="tblUsers">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Full Name</th>
                                            <th>Job Title</th>
                                            <th>Telephone</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int nCounter = 0; string sCounter = "";
                                            foreach (var departmentUser in Model.DepartmentUsers)
                                            {
                                                nCounter++;
                                                sCounter = (nCounter < 10) ? '0' + nCounter.ToString() : nCounter.ToString();
                                                <tr>
                                                    <td>@sCounter</td>
                                                    <td>@departmentUser.FullName</td>
                                                    <td>@departmentUser.JobTitle</td>
                                                    <td>@departmentUser.Phone</td>
                                                    <td>@departmentUser.Email</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card card-collapsed">
            <div class="card-header bg-gray-300">
                <h5 class="card-title">Ownerhsip history</h5>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-remove" data-bs-toggle="card-remove"><i class="fe fe-x "></i></a>
                </div>
            </div>
            <div class="card-body project-list-table-container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table id="tblDepartmentHeads" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                <thead class="table-head">
                                    <tr>
                                        <th class="bg-transparent border-bottom-0 w-5">S.No</th>
                                        <th class="bg-transparent border-bottom-0">Owner Name</th>
                                        <th class="bg-transparent border-bottom-0">Date From</th>
                                        <th class="bg-transparent border-bottom-0">Date To</th>
                                        <th class="bg-transparent border-bottom-0">Is Active</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    @{
                                        nCounter = 0;
                                        sCounter = "";
                                        foreach (var dh in Model.DepartmentHeads)
                                        {
                                            nCounter++;
                                            sCounter = (nCounter < 10) ? '0' + nCounter.ToString() : nCounter.ToString();
                                            <tr>
                                                <td class="text-muted fs-15 fw-semibold text-center">@sCounter.</td>
                                                <td class="text-muted fs-15 fw-semibold">
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-2">
                                                            <span>
                                                                <img style="min-width:30px;" src="@dh.Employee.ImageUrl" alt="profile-user" class="data-image avatar avatar-lg rounded-circle">
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <h6 class="mb-0">@dh.Employee.FullName</h6>
                                                            <span class="text-muted fs-12">@dh.Employee.Email</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-muted fs-15 fw-semibold">@dh.StartDate.ToString("dd-MMM-yyyy")</td>
                                                <td class="text-muted fs-15 fw-semibold">@dh.EndDate?.ToString("dd-MMM-yyyy")</td>
                                                <td class="text-muted fs-15 fw-semibold">@dh.IsActive</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Departments" asp-action="Index" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlAssignOwner">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content-demo">

                <div class="modal-header">
                    <h5 class="modal-title">Department Ownership</h5><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="AssignOwner" id="frmAssignOwner">
                        <p>List of available employees</p>
                        <input asp-for="DepartmentId" hidden />
                        <div class="mb-3 form-group">
                            <select name="EmployeeId" id="EmployeeId" asp-items="@Model.Employees" class="form-control select2-style1 form-select">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnSaveChanges" class="btn btn-primary">Assign Owner</button> <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <section id="dvFacesData" style="display:none;"></section>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            loadFaces();

            $('#btnSaveChanges').on("click", () => {
                $("#frmAssignOwner").submit();
            });

            makeDataTable('#tblDepartmentHeads');
            makeDataTable("#tblUsers");

            // $('#tblUsers').DataTable({
            //     language: {
            //         searchPlaceholder: 'Search...',
            //         sSearch: '',
            //     }
            // });

            //$('.select2').select2({
            //    //dropdownParent: $("#mdlDepartmentHeads")
            //});
            //setSelect2();

        });

        const loadFaces = () => {
            var postData = {};
            $.ajax({
                url: '/Admin/Employees/GetFaces',
                datatype: "json",
                data: postData,
                beforeSend: function () {

                },
                success: function (e) {
                    $("#dvFacesData").html("").html(e);
                },
                complete: function () {
                    setSelect2();
                }
            });
        }
        const setSelect2 = () => {
            $(".select2-style1").select2({
                templateResult: select2Style1,
                templateSelection: select2Style1,
                escapeMarkup: function (m) { return m; }
            });
        }
        function select2Style1(data) {
            if (!data.id) { return data.text; }

            var $data = $(
                '<span>' + getFace(data.element.value.toLowerCase()) + data.text + '</span>'
            );
            return $data;
        };
        const getFace = (id) => {
            var sFace = '<img src="/assets/images/faces/profile_placeholder.png" class="rounded-circle avatar-sm" />';

            var sData = $("#dvFacesData").html();
            if (sData != "No Records Found") {
                var Data = JSON.parse(sData);
                Data.forEach((e) => {
                    if (id == e.Id) {
                        sFace = '<img src="' + e.ImageUrl + '" class="rounded-circle avatar-sm" />';
                    }
                });
            }
            return sFace;
        }

    </script>
    }
