@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<MODAMS.Models.ViewModels.Dto.NotificationDTO>

@{
    ViewData["TourPageKey"] = "Home/AllNotifications";
}

<style>
    /* CSS styles can also be placed in an external stylesheet */
    .colored-row {
        background-color: lightcyan; /* Change this to your desired color */
    }
</style>

<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["Notifications"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="/Users/Home/Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["AllNotifications"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-secondary" asp-action="ClearNotifications" asp-controller="Home" asp-area="Users">
                    <i class="fe fe-trash"></i>&nbsp; @Localizer["DeleteAllNotifications"]
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        @{
                            string bgClass = "";
                            if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    var sMessage = (item.Message!=null) && (item.Message.Contains(','))
                                    ? item.Message.Substring(0, item.Message.IndexOf(',')) : item.Message;

                                    //bgClass = item.IsViewed ? "" : "text-bold";
                                    <a href="/Users/Home/NotificationDirector/@item.Id">
                                        <div class="row @bgClass mb-3 p-3 table-bordered divShadow--xs">
                                            <div class="col-md-1 text-center">

                                                <div class="avatar-container avatar-lg me-4">
                                                    <img alt="avatar" class="rounded-circle" src="@item.ImageUrl">
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div>
                                                    <span class="notification-label mb-1">@Html.Raw(sMessage)</span>
                                                    &nbsp;
                                                    @{
                                                        if (!item.IsViewed)
                                                        {
                                                            <span class="badge bg-primary my-1 custom-badge">New</span>
                                                        }
                                                    }
                                                    <span class="notification-subtext text-muted">@item.DateTime.ToString("dd-MMM-yyyy")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>