@model MODAMS.Models.ViewModels.dtoProfileData

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Profile</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->
<!-- ROW-1 OPEN -->
<div class="row" id="user-profile">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12 col-xl-6">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="profile-img-main rounded" id="profile-image">
                                <img src="@Model.ImageUrl" alt="img" class="m-0 p-1 rounded hrem-6">
                            </div>
                            <div class="ms-4">
                                <h4 id="lblFullName">@Model.FullName</h4>
                                <p class="text-muted mb-2" id="lblJobTitle">@Model.JobTitle</p>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Edit Picture</a>
                                <a href="mail-inbox.html" class="btn btn-secondary btn-sm"><i class="fa fa-key"></i> Reset Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-6">
                        <div class="d-md-flex flex-wrap justify-content-lg-end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <div class="wideget-user-tab">
                    <div class="tab-menu-heading">
                        <div class="tabs-menu1">
                            <ul class="nav">
                                <li><a href="#profileMain" class="active show" data-bs-toggle="tab">Profile</a></li>
                                <li><a href="#editProfile" data-bs-toggle="tab">Edit Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active show" id="profileMain">
                <div class="card">
                    <div class="card-body p-0">

                        <div class="border-top"></div>
                        <div class="table-responsive p-5">
                            <h3 class="card-title">Personal Info</h3>
                            <table class="table row table-borderless">
                                <tbody class="col-lg-12 col-xl-6 p-0">
                                    <tr>
                                        <td><strong>Full Name :</strong> @Model.FullName</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Job Title :</strong> @Model.JobTitle</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Email :</strong> @Model.Email</td>
                                    </tr>
                                </tbody>
                                <tbody class="col-lg-12 col-xl-6 p-0 border-top-0">
                                    <tr>
                                        <td><strong>Department :</strong> @Model.Department</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Role :</strong> @Model.RoleName</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Supervisor :</strong> @Model.SupervisorName </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="border-top"></div>
                        <div class="p-4">
                            <h3 class="card-title">Contact</h3>
                            <div class="d-sm-flex">
                                <div>
                                    <div class="main-profile-contact-list">
                                        <div class="media mx-2">
                                            <div class="media-icon bg-primary-transparent text-primary"> <i class="fe fe-phone fs-21"></i> </div>
                                            <div class="media-body ms-2">
                                                <span class="text-muted">Mobile</span>
                                                <p class="mb-0">@Model.Phone</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="main-profile-contact-list">
                                        <div class="media mx-2">
                                            <div class="media-icon bg-success-transparent text-success"> <i class="fa fa-solid fa-envelope"></i> </div>
                                            <div class="media-body ms-2">
                                                <span class="text-muted">Email</span>
                                                <p class="mb-0">@Model.Email</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="editProfile">
                <div class="card">
                    <div class="card-body border-0">
                        <form class="form-horizontal">
                            <div class="row mb-4">
                                <p class="mb-4 text-17">Personal Info</p>
                                <div class="col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group">
                                        <label asp-for="FullName" class="form-label">Full Name</label>
                                        <input asp-for="FullName" class="form-control">
                                        <span asp-validation-for="FullName"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group">
                                        <label asp-for="JobTitle" class="form-label">Job Title</label>
                                        <input asp-for="JobTitle" class="form-control">
                                        <span asp-validation-for="JobTitle"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group">
                                        <label asp-for="Email" class="form-label">Email Address</label>
                                        <input asp-for="Email" readonly class="form-control">
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="form-label" placeholder="(+000) 000 000000">Phone Number</label>
                                        <input asp-for="Phone" class="form-control">
                                        <span asp-validation-for="Phone"></span>
                                    </div>
                                </div>
                                
                                <div class="col-md-12 col-lg-12 col-xl-6">
                                    <div class="form-group">
                                        <button id="btnSaveChanges" type="submit" class="btn btn-primary">
                                            <i id="iconSave" class="mdi mdi-checkbox-marked-circle-outline"></i> Save Changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- COL-END -->
</div>
<!-- ROW-1 CLOSED -->
@section Scripts{
    <script>

    </script>
}
