@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ForgotPasswordConfirmation
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout1";
}

<div class="col col-login mx-auto text-center">
    @*<a asp-area="" asp-page="/Index" class="text-center">
    <img src="~/assets/images/brand/ams.png" class="header-brand-img" alt="">
    </a>*@
</div>
<div class="container-login100">
    <div class="wrap-login100 p-0">
        <div class="card-body">
            <span class="login100-form-title">
                <img src="~/assets/images/brand/FGS.png" class="h-8" alt="" /><br />
                <span class="h4">@Localizer["ForgotPassword"]</span>
            </span>
            <span class="text-muted pb-5" style="font-size:small;">
                @Localizer["FPCMessage"]
            </span>
            <br /><br />
            <div class="text-center pt-3">
                <p class="text-dark mb-0">@Localizer["BackTo"] <a href="Login" class="text-primary ms-1">@Localizer["SignIn"]</a></p>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-md-12 col-sm-12 text-center text-darkgray">
                <span style="font-size:12px;">@Localizer["DevelopedBy"]&nbsp;|&nbsp;</span><img src="~/assets/images/brand/unops_footer_logo.png">&nbsp;
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
