@page
@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterModel

@inject IViewLocalizer Localizer

@{
    Layout = "_Layout1";
}

<!-- CONTAINER OPEN -->

<div class="container-login100">
    <div class="wrap-login100 p-0">
        <div class="card-body">
            <span class="login100-form-title pb-2">
                <img src="~/assets/images/brand/FGS.png" class="h-8" alt="">
            </span>
            <div class="text-center pb-3">
                <p class="text-blue mb-0" style="font-size:small;">@Localizer["AccountRegistration"]</p>
            </div>
            <input type="text" style="display:none">
            <input type="password" style="display:none">

            <form class="login100-form validate-form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center text-wrap" role="alert"></div>
                <div class="wrap-input100 validate-input" data-bs-validate="Valid email is required: ex@abc.xyz">
                    <input asp-for="Input.Email" class="input100" placeholder="@Localizer["Email"]" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="zmdi zmdi-email" aria-hidden="true"></i>
                    </span>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input" data-bs-validate="Password is required">
                    <input asp-for="Input.Password" class="input100" type="password" placeholder="@Localizer["Password"]" autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly');" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="zmdi zmdi-lock" aria-hidden="true"></i>
                    </span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input" data-bs-validate="Password is required">
                    <input asp-for="Input.ConfirmPassword" class="input100" type="password" placeholder="@Localizer["ConfirmPassword"]" />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="zmdi zmdi-lock" aria-hidden="true"></i>
                    </span>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn btn-primary">
                        @Localizer["Register"]
                    </button>
                </div>
                <div class="text-center pt-3">
                    <p class="text-dark mb-0">@Localizer["AlreadyHaveAccount"]?<a asp-area="" asp-page="/Login/Index" class="text-primary ms-1">@Localizer["SignIn"]</a></p>

                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="col-md-12 col-sm-12 text-center text-darkgray">
                <span style="font-size:12px;">@Localizer["DevelopedBy"]&nbsp;|&nbsp;</span><img src="~/assets/images/brand/unops_footer_logo.png">&nbsp;
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function(){
            setTimeout(function () {
                $('.input100').val('');
            }, 100);
        });
    </script>

}