@model MODAMS.Models.ViewModels.Dto.dtoEditDisposal

<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

    .selected {
        background-color: #f5f5f5; /* Change to your desired background color */
    }

    .parent-div {
        height: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 20px;
    }

    .image-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .image {
        max-width: 80%;
        max-height: 80%;
        cursor:pointer;
    }

    .change-picture-link {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: none;
    }

    .image-container:hover .change-picture-link {
        display: block;
    }

</style>

<div class="page-header">
    <div>
        <h1 class="page-title">Edit Disposal</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Disposals" asp-action="Index">Disposals</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Disposal</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">Edit Disposal</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3">
        @{
            string sDisabled = "disabled";
            if (Model.IsAuthorized)
            {
                sDisabled = "";
            }
        }
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="EditDisposal" id="frmDisposal" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                <div class="card-body" id="dvMain">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="mb-3 form-group">
                                                <label>Store</label>
                                                <span id="StoreName" type="text" class="form-control" readonly>@Model.StoreName</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label>Store Owner</label>
                                                <span id="StoreOwner" type="text" class="form-control" readonly>@Model.StoreOwner</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.DisposalDate"></label>
                                                <input asp-for="Disposal.DisposalDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                <span asp-validation-for="Disposal.DisposalDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.DisposalTypeId"></label>
                                                <select asp-for="Disposal.DisposalTypeId" asp-items="@Model.DisposalTypeList"
                                                        class="form-control select2 form-select">
                                                    <option disabled selected>-Select Disposal Type-</option>
                                                </select>
                                                <span asp-validation-for="Disposal.DisposalTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.Notes"></label>
                                                <textarea asp-for="Disposal.Notes" class="form-control mb-4" placeholder="" rows="3"></textarea>
                                                <span asp-validation-for="Disposal.Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div aria-multiselectable="true" class="accordion-dark mb-3" id="accordion8" role="tablist">
                                                <div class="card mb-0">
                                                    <div class="card-header border-bottom-0" id="heading8" role="tab">
                                                        <a id="collapse-button" class="accor-style2 collapsed" aria-controls="collapse8" aria-expanded="true" data-bs-toggle="collapse" href="#collapse8">
                                                            <i class="fe fe-plus-circle me-2"></i>Select Asset to dispose
                                                        </a>
                                                    </div>
                                                    <div aria-labelledby="heading8" class="collapse" data-bs-parent="#accordion8" id="collapse8" role="tabpanel">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table id="tblAssets" class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main">
                                                                    <thead class="bg-primary-gradient ms-auto divShadow">
                                                                        <tr>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-2"></th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-10">Category</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Make</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Model</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Asset Name</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Identification</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Barcode</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            int nCounter = 0;
                                                                            string sCounter = "";
                                                                            string sIdentification = "";
                                                                            foreach (var asset in Model.Assets)
                                                                            {
                                                                                sCounter = nCounter < 10 ? "0" + nCounter.ToString() : nCounter.ToString();
                                                                                sIdentification = asset.SubCategory.Category.CategoryName == "Vehicles" ? "Plate No: " + asset.Plate : "SN: " + asset.SerialNo;
                                                                                <tr>
                                                                                    <td><a class="btn btn-primary btn-sm" onclick="return selectAsset(@asset.Id,event);">select</a></td>
                                                                                    <td>@asset.SubCategory.Category.CategoryName</td>
                                                                                    <td>@asset.Make</td>
                                                                                    <td>@asset.Model</td>
                                                                                    <td>@asset.Name</td>
                                                                                    <td>@sIdentification</td>
                                                                                    <td>@asset.Barcode</td>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="AssetDetails">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>Make</label>
                                                    <span id="spnMake" type="text" class="form-control mb-4" placeholder="Make" readonly>@Model.CurrentDisposedAsset.Make</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>Model</label>
                                                    <span id="spnModel" type="text" class="form-control mb-4" placeholder="Model" readonly>@Model.CurrentDisposedAsset.Model</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>Asset Name</label>
                                                    <span id="spnAssetName" type="text" class="form-control mb-4" placeholder="Asset Name" readonly>@Model.CurrentDisposedAsset.Name</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>Identification</label>
                                                    @{
                                                        sIdentification = Model.CurrentDisposedAsset.SubCategory.Category.CategoryName == "Vehicles" ? "Plate No: " + Model.CurrentDisposedAsset.Plate : "Serial No: " + Model.CurrentDisposedAsset.SerialNo;
                                                    }
                                                    <span id="spnIdentification" type="text" class="form-control mb-4" placeholder="Identification" readonly>@sIdentification</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        @{
                                            if (Model.Assets == null)
                                            {
                                                sDisabled = "disabled";
                                            }
                                            <button type="button" class="btn btn-primary @sDisabled" id="btnSubmit">
                                                <i class="fa fa-check-circle"></i>&nbsp;Save Changes
                                            </button>
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-status bg-info br-tr-7 br-tl-7"></div>
                                <div class="card-body">
                                    <div class="parent-div">
                                        <div class="image-container">
                                            @if (Model.Disposal.ImageUrl != null)
                                            {
                                                <img onclick="return showImageLoader(event);" src="/disposaldocuments/@Model.Disposal.ImageUrl" alt="Uploaded Picture" class="image" />
                                                <a href="#" class="change-picture-link" onclick="return showImageLoader(event);">Change Picture</a>
                                            }
                                        </div>
                                        <div class="button-container">
                                            @if (Model.Disposal.ImageUrl == null)
                                            {
                                                <button id="btnUpload-Image" class="btn btn-outline-primary btn-sm" onclick="return showImageLoader(event);"><i class="fe fe-upload"></i>&nbsp;Upload Picture</button>
                                            }
                                        </div>

                                        <div id="dvImageLoader" style="display:none;">
                                            <input asp-for="file" type="file" class="dropify" data-height="400" /><br />
                                            <center>
                                                <button type="button" class="btn btn-primary btn-sm @sDisabled" id="btnSubmitPic">
                                                    <i class="fa fa-check-circle"></i>&nbsp;Save
                                                </button>
                                                <a href="#" class="btn btn-outline-secondary btn-sm" onclick="return cancelImageLoad(event);">Cancel</a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input asp-for="Disposal.Id" hidden />
                        <input asp-for="Disposal.AssetId" hidden />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Internal Fancy uploader js-->
<script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

<script src="~/assets/plugins/fileuploads/js/fileupload.js"></script>
<script src="~/assets/plugins/fileuploads/js/file-upload.js"></script>

@section scripts{
    <script>
        $(document).ready(() => {
            hideMenu();
            $('.picker').datepicker({
                autoclose: true,
                format: 'dd-MM-yyyy',
                todayHighlight: true
            });
            // const currentDate = new Date();
            // $('.picker').datepicker('setDate', currentDate).val("");

            makeDataTable('#tblAssets', "1");

            $("#btnSubmit").on("click", (e) => {
                e.preventDefault();
                if ($("#Disposal_AssetId").val() == 0) {
                    notif({
                        type: "error",
                        msg: "<b>Error: </b>No asset selected!",
                        position: "center",
                        width: 500,
                        height: 60,
                        autohide: false
                    });
                } else {
                    $("#frmDisposal").submit();
                }
            });
            $("#btnSubmitPic").on("click", (e) => {
                $("#frmDisposal").submit();
            })
            loadSelection();
        });

        const showImageLoader = (e) => {
            e.preventDefault();
            $(".image-container").hide();
            $("#btnUpload-Image").hide();
            $("#dvImageLoader").show();
        }

        const cancelImageLoad = (e) => {
            e.preventDefault();
            $(".image-container").show();
            $("#btnUpload-Image").show();
            $("#dvImageLoader").hide();
        }
        const loadSelection = () => {
            var id = parseInt($("#Disposal_AssetId").val());

            const assets = @Html.Raw(Json.Serialize(Model.Assets));

            if (assets && assets.length > 0) {
                const selectedAsset = assets.find(asset => asset.id === id);

                if (selectedAsset) {
                    $("#spnMake").html(selectedAsset.make);
                    $("#spnModel").html(selectedAsset.model);
                    $("#spnAssetName").html(selectedAsset.name);

                    const categoryName = selectedAsset.subCategory.category.categoryName;

                    const isVehicle = categoryName == "Vehicles";

                    const identification = isVehicle ? "Plate No: " + selectedAsset.plate : "Serial No: " + selectedAsset.serialNo;
                    $("#spnIdentification").html(identification);

                    $("#card-body-file").css("height", "575px;");
                }
            }
        }

        const selectAsset = (id, e) => {
            e.preventDefault();

            const assets = @Html.Raw(Json.Serialize(Model.Assets));

            if (assets && assets.length > 0) {
                const selectedAsset = assets.find(asset => asset.id === id);

                if (selectedAsset) {
                    $("#spnMake").html(selectedAsset.make);
                    $("#spnModel").html(selectedAsset.model);
                    $("#spnAssetName").html(selectedAsset.name);

                    const categoryName = selectedAsset.subCategory.category.categoryName;

                    const isVehicle = categoryName == "Vehicles";

                    const identification = isVehicle ? "Plate No: " + selectedAsset.plate : "Serial No: " + selectedAsset.serialNo;
                    $("#spnIdentification").html(identification);
                }
            }

            $("#Disposal_AssetId").val(id);
            $("#collapse8").collapse("hide");
            $("#AssetDetails").show();

            $("#card-body-file").css("height", "575px");
        };


    </script>
}