@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@model MODAMS.Models.ViewModels.Dto.DisposalEditDTO

@{
    ViewData["TourPageKey"] = "Disposals/EditDisposal";
    bool _isSomali = CultureInfo.CurrentUICulture.Name == "so";
}

<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

    .selected {
        background-color: #f5f5f5;
    }

    .parent-div {
        height: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 20px;
    }

    .image-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .image {
        max-width: 80%;
        max-height: 80%;
        cursor: pointer;
    }

    .change-picture-link {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        display: none;
    }

    .image-container:hover .change-picture-link {
        display: block;
    }
</style>

@{
    var asset = Model.CurrentDisposedAsset;
    string sDisposalLabel;
    string sIdentification;

    if (asset != null)
    {
        sDisposalLabel = $"{asset.Make} – {asset.Model} – {asset.Name}";
        sIdentification = asset.SubCategory.Category.CategoryName == "Vehicles"
            ? (_isSomali ? "Taarikada: " : "Plate No: ") + Model.CurrentDisposedAsset.Plate
            : (_isSomali ? "Sereelka: " : "SN: ") + Model.CurrentDisposedAsset.SerialNo;
    }
    else
    {
        sDisposalLabel = _isSomali ? "Asset information lama helin" : "Asset information not available";
        sIdentification = _isSomali ? "Asset information lama helin" : "Asset information not available";
    }
}

<div class="page-header">
    <div>
        <h1 class="page-title" data-tour="ed.title">@Localizer["EditDisposal"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb" data-tour="ed.breadcrumbs">
            <li class="breadcrumb-item">
                <a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="Users" asp-controller="Disposals" asp-action="Index">@Localizer["Disposals"]</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["EditDisposal"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 id="disposal-title" class="m-0">@(sDisposalLabel + " - " + sIdentification)</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        @{
            string sDisabled = Model.IsAuthorized ? "" : "disabled";
        }
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="EditDisposal" id="frmDisposal" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                <div class="card-body" id="dvMain">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <div class="mb-3 form-group">
                                                <label>@Localizer["Store"]</label>
                                                <span id="StoreName" type="text" class="form-control" readonly data-tour="ed.storeName">@Model.StoreName</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label>@Localizer["StoreOwner"]</label>
                                                <span id="StoreOwner" type="text" class="form-control" readonly data-tour="ed.storeOwner">@Model.StoreOwner</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.DisposalDate"></label>
                                                <input asp-for="Disposal.DisposalDate"
                                                       asp-format="{0:dd-MMM-yyyy}"
                                                       class="form-control picker"
                                                       aria-required="true"
                                                       type="text"
                                                       autocomplete="off"
                                                       data-tour="ed.date" />
                                                <span asp-validation-for="Disposal.DisposalDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.DisposalTypeId"></label>
                                                <select asp-for="Disposal.DisposalTypeId"
                                                        asp-items="@Model.DisposalTypeList"
                                                        class="form-control select2 form-select"
                                                        data-tour="ed.type">
                                                    <option disabled selected>-@Localizer["SelectDisposalType"]-</option>
                                                </select>
                                                <span asp-validation-for="Disposal.DisposalTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Disposal.Notes"></label>
                                                <textarea asp-for="Disposal.Notes"
                                                          class="form-control mb-4"
                                                          placeholder=""
                                                          rows="3"
                                                          data-tour="ed.notes"></textarea>
                                                <span asp-validation-for="Disposal.Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" data-tour="ed.assetPicker">
                                        <div class="col-md-12">
                                            <div aria-multiselectable="true" class="accordion-dark mb-3" id="accordion8" role="tablist">
                                                <div class="card mb-0">
                                                    <div class="card-header border-bottom-0" id="heading8" role="tab">
                                                        <a id="collapse-button"
                                                           class="accor-style2 collapsed"
                                                           aria-controls="collapse8"
                                                           aria-expanded="true"
                                                           data-bs-toggle="collapse"
                                                           href="#collapse8"
                                                           data-tour="ed.assetPickerToggle">
                                                            <i class="fe fe-plus-circle me-2"></i>@Localizer["SelectAssetToDispose"]
                                                        </a>
                                                    </div>
                                                    <div aria-labelledby="heading8" class="collapse" data-bs-parent="#accordion8" id="collapse8" role="tabpanel">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table id="tblAssets" class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main" data-tour="ed.assetTable">
                                                                    <thead class="bg-primary-gradient ms-auto divShadow">
                                                                        <tr>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-2">#</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Category"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Make"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Model"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["AssetName"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Identification"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Barcode"]</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            int nCounter = 0;
                                                                            string sCounter = "";
                                                                            foreach (var a in Model.Assets)
                                                                            {
                                                                                sCounter = nCounter < 10 ? "0" + nCounter.ToString() : nCounter.ToString();
                                                                                <tr>
                                                                                    <td>
                                                                                        <button class="selectionButton btn btn-primary btn-sm"
                                                                                                onclick="return selectAsset(@a.Id,this,event);">
                                                                                            select
                                                                                        </button>
                                                                                    </td>
                                                                                    <td>@a.CategoryName</td>
                                                                                    <td>@a.Make</td>
                                                                                    <td>@a.Model</td>
                                                                                    <td>@a.AssetName</td>
                                                                                    <td>@a.Identification</td>
                                                                                    <td>@a.Barcode</td>
                                                                                </tr>
                                                                                nCounter++;
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="AssetDetails" data-tour="ed.assetDetails">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>@Localizer["Make"]</label>
                                                    <span id="spnMake" type="text" class="form-control mb-4" placeholder="Make" readonly>@Model.CurrentDisposedAsset?.Make</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>@Localizer["Model"]</label>
                                                    <span id="spnModel" type="text" class="form-control mb-4" placeholder="Model" readonly>@Model.CurrentDisposedAsset?.Model</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>@Localizer["AssetName"]</label>
                                                    <span id="spnAssetName" type="text" class="form-control mb-4" placeholder="Asset Name" readonly>@Model.CurrentDisposedAsset?.Name</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3 form-group">
                                                    <label>@Localizer["Identification"]</label>
                                                    <span id="spnIdentification" type="text" class="form-control mb-4" placeholder="Identification" readonly>@sIdentification</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex">
                                        @{
                                            sDisabled = (Model.Assets == null) ? "disabled" : "";
                                        }
                                        <button type="button" class="btn btn-info @sDisabled" id="btnSubmit" data-tour="ed.save">
                                            <i class="fa fa-check-circle me-1"></i>&nbsp;@Localizer["SaveChanges"]
                                        </button>
                                        <button type="button" class="btn btn-secondary @sDisabled" id="btnDeleteDisposal" data-tour="ed.delete">
                                            <i class="fa fa-trash me-1"></i>&nbsp;@Localizer["DeleteDisposal"]
                                        </button>
                                        <a asp-action="Index" asp-controller="Disposals" id="btnCancel" class="btn btn-gray" data-tour="ed.cancel">
                                            <i class="fa fa-close"></i>&nbsp;@Localizer["Cancel"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-status bg-info br-tr-7 br-tl-7"></div>
                                <div class="card-body" data-tour="ed.imageInput">
                                    <div class="parent-div">
                                        <div class="image-container">
                                            @if (Model.Disposal.ImageUrl != null)
                                            {
                                                <img onclick="return false;" src="/disposaldocuments/@Model.Disposal.ImageUrl" alt="Uploaded Picture" class="image" />
                                                <a href="#" class="change-picture-link">@Localizer["ChangePicture"]</a>
                                            }
                                        </div>
                                        <div class="button-container">
                                            @if (Model.Disposal.ImageUrl == null)
                                            {
                                                <button id="btnUpload-Image" class="btn btn-outline-info btn-sm">
                                                    <i class="fe fe-upload"></i>&nbsp;@Localizer["UploadPicture"]
                                                </button>
                                            }
                                        </div>

                                        <div id="dvImageLoader" style="display:none;">
                                            <input asp-for="file" type="file" class="dropify" data-height="400" /><br />
                                            <center>
                                                <button type="button" class="btn btn-info btn-sm @sDisabled" id="btnSubmitPic">
                                                    <i class="fa fa-check-circle"></i>&nbsp;@Localizer["Save"]
                                                </button>
                                                <a href="#" class="btn btn-outline-secondary btn-sm" data-cancel-image="1">@Localizer["Cancel"]</a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input asp-for="Disposal.Id" hidden />
                        <input asp-for="Disposal.AssetId" hidden id="Disposal_AssetId" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_Confirmation.cshtml")

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropify/dist/css/dropify.min.css" />
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/dropify/dist/js/dropify.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <partial name="_DatatablesAssets" />

    <script>
        // Config object consumed by /js/pages/disposals-editdisposal.js
        window.EDIT_DISPOSAL = {
            isSomali: "@(_isSomali ? "true" : "false")",
            disposalId: "@Model.Disposal.Id",
            selectedAssetId: "@Model.Disposal.AssetId",
            deleteUrl: "@Url.Action("DeleteDisposal", "Disposals", new { area = "Users", id = Model.Disposal.Id })",
            i18n: {
                noAssetErrorHtml: "@Html.Raw(_isSomali ? "<b>Khalad: </b>Hanti lama dooran!" : "<b>Error: </b>No asset selected!")",
                deleteTitle: "@Localizer["DeleteDisposal"]",
                deleteMsg: "@Localizer["DeleteConfirmationMessage"]",
                confirm: "@Localizer["Confirm"]",
                cancel: "@Localizer["Cancel"]",
                changePicture: "@Localizer["ChangePicture"]",
                uploadPicture: "@Localizer["UploadPicture"]",
                save: "@Localizer["Save"]",
                saveChanges: "@Localizer["SaveChanges"]",
                serial: "@Localizer["SN"]",
                plate: "@(_isSomali ? "Taarikada" : "Plate No")"
            }
        };
    </script>

    <script src="~/js/pages/disposals-editdisposal.js"></script>
}
