@model MODAMS.Models.ViewModels.Dto.ReportingDTO


<div class="page-header">
    <div>
        <h1 class="page-title">Report</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reports</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">Asset Management System Reporting</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body project-list-table-container">
        <div class="row d-flex">
            <div class="col-md-3 flex-fill">
                <div class="card divShadow">
                    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                    <div class="card-body pnlHeight">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-2 fw-semibold text-muted">Assets</h3>
                                <p class="text-muted fs-13 mb-0">Asset Report</p>
                            </div>
                            <div class="col col-auto top-icn dash">
                                <div class="counter-icon bg-primary dash ms-auto box-shadow-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16"> <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /> </svg>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <hr class="customHR w-100" />
                                    <form method="post" target="_blank" asp-action="ReportViewer" id="frmAssetReport">
                                        <input type="hidden" name="ReportId" id="ReportId" value="AssetReport" />
                                        <div class="form-group">
                                            <select asp-for="AssetStoreId" asp-items="@Model.AssetStores"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Stores</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select asp-for="AssetStatusId" asp-items="@Model.AssetStatuses"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Statuses</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select asp-for="CategoryId" asp-items="@Model.Categories"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Categories</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select asp-for="AssetConditionId" asp-items="@Model.Conditions"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Conditions</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select asp-for="DonorId" asp-items="@Model.Donors"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Donors</option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="form-group flex text-center">
                                        <button class="btn btn-primary" id="btnSubmitAssetReport" onclick="return submitForm(event, 'frmAssetReport');"><i class="fa fa-print"></i>&nbsp;Generate Report</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 flex-fill">
                <div class="card divShadow">
                    <div class="card-status bg-secondary br-tr-7 br-tl-7"></div>
                    <div class="card-body pnlHeight">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-2 fw-semibold text-muted">Transfers</h3>
                                <p class="text-muted fs-13 mb-0 text-secondary">Transfer Report</p>
                            </div>
                            <div class="col col-auto top-icn dash">
                                <div class="counter-icon bg-secondary dash ms-auto box-shadow-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" /> </svg>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr class="customHR w-100" />
                                    <form method="post" target="_blank" asp-action="ReportViewer" id="frmTransferReport">
                                        <input type="hidden" name="ReportId" id="ReportId" value="TransferReport" />
                                        <div class="form-group">
                                            <label asp-for="StoreFromId"></label>
                                            <select asp-for="StoreFromId" asp-items="@Model.TransferStores"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Stores</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StoreToId"></label>
                                            <select asp-for="StoreToId" asp-items="@Model.TransferStores"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Stores</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TransferStatusId"></label>
                                            <select asp-for="TransferStatusId" asp-items="@Model.TransferStatuses"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Statuses</option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="form-group flex text-center">
                                        <button class="btn btn-secondary" id="btnSubmitTransferReport" onclick="return submitForm(event, 'frmTransferReport');"><i class="fa fa-print"></i>&nbsp;Generate Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 flex-fill">
                <div class="card divShadow">
                    <div class="card-status bg-info br-tr-7 br-tl-7"></div>
                    <div class="card-body pnlHeight">
                        <div class="row">
                            <div class="col">
                                <h3 class="mb-2 fw-semibold text-muted">Disposal</h3>
                                <p class="text-muted fs-13 mb-0">Disposal Report</p>
                            </div>
                            <div class="col col-auto top-icn dash">
                                <div class="counter-icon bg-info dash ms-auto box-shadow-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket3" viewBox="0 0 25 25">
                                        <g> <path fill="none" d="M0 0H24V24H0z"></path> <path d="M19.562 12.098l1.531 2.652c.967 1.674.393 3.815-1.28 4.781-.533.307-1.136.469-1.75.469H16v2l-5-3.5 5-3.5v2h2.062c.088 0 .174-.023.25-.067.213-.123.301-.378.221-.601l-.038-.082-1.531-2.652 2.598-1.5zM7.737 9.384l.53 6.08-1.73-1-1.032 1.786c-.044.076-.067.162-.067.25 0 .245.177.45.41.492l.09.008H9v3H5.938c-1.933 0-3.5-1.567-3.5-3.5 0-.614.162-1.218.469-1.75l1.031-1.786-1.732-1 5.53-2.58zm6.013-6.415c.532.307.974.749 1.281 1.281l1.03 1.786 1.733-1-.53 6.08-5.532-2.58 1.732-1-1.031-1.786c-.044-.076-.107-.14-.183-.183-.213-.123-.478-.072-.631.11l-.052.073-1.53 2.652-2.599-1.5 1.53-2.652c.967-1.674 3.108-2.248 4.782-1.281z"></path> </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr class="customHR w-100" />
                                    <form method="post" target="_blank" asp-action="ReportViewer" id="frmDisposalReport">
                                        <input type="hidden" name="ReportId" id="ReportId" value="DisposalReport" />
                                        <div class="form-group">
                                            <label asp-for="DisposalStoreId"></label>
                                            <select asp-for="DisposalStoreId" asp-items="@Model.AssetStores"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Stores</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DisposalTypeId"></label>
                                            <select asp-for="DisposalTypeId" asp-items="@Model.DisposalTypes"
                                                    class="form-control select2 form-select">
                                                <option value="0">All Disposl Types</option>
                                            </select>
                                        </div>
                                        <div class="form-group flex text-center">
                                            <button onclick="return submitForm(event, 'frmDisposalReport');" 
                                            class="btn btn-info" id="btnSubmitDisposalReport">
                                            <i class="fa fa-print"></i>&nbsp;Generate Report</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script>
            $(document).ready(() => {
                $('.select2').select2();

                resizeCards();
            });

            const submitForm = (event, form) => {
                event.preventDefault();
                // Get the screen's available width and height
                var width = screen.availWidth;
                var height = screen.availHeight;

                // Open a new window without window controls and set it to the available screen size
                var newWindow = window.open("", "PrintWindow", `addressbar=no,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,directories=no,status=no,width=${width},height=${height}`);

                // Move the new window to the top left corner of the screen
                newWindow.moveTo(0, 0);

                // Set the form's target to the new window
                form = $('#' + form);
                form.attr('target', 'PrintWindow');

                // Submit the form
                form.submit();

            }

            const resizeCards = () => {
                var firstCardHeight = $('.col-md-3:first-child .card').outerHeight();
                $('.col-md-3 .card').css('height', firstCardHeight + 'px');
            }
        </script>
    }
