@model MODAMS.Models.ViewModels.Dto.dtoReporting

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MODAMS Report Viewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.blueopal.min.css" rel="stylesheet" />

    <!--If Kendo is used it should be added before the report viewer.-->
    <script src="/api/reports/resources/js/telerikReportViewer-18.0.24.305.min.js/"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>
</head>
<body>

    <div id="reportViewer1">
        loading...
    </div>

    <script type="text/javascript">
        $(document).ready(() => {

            let reportId = '@Model.ReportId';
            let params = {};
            if (reportId == "AssetReport") {
                let storeId = parseInt('@Model.StoreId');
                let assetStatusId = parseInt('@Model.AssetStatusId');
                let categoryId = parseInt('@Model.CategoryId');
                let assetConditionId = parseInt('@Model.AssetConditionId');
                let donorId = parseInt('@Model.DonorId');

                params = {
                    StoreId: storeId,
                    AssetStatusId: assetStatusId,
                    CategoryId: categoryId,
                    AssetConditionId: assetConditionId,
                    DonorId: donorId
                };
            }
            params = Object.fromEntries(Object.entries(params).filter(([_, value]) => value > 0));
            console.log(params);
            reportId += '.trdp';

            $("#reportViewer1").telerik_ReportViewer({

                serviceUrl: "/api/reports",
                reportSource: {
                    report: reportId,
                    parameters: params
                },

                viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
                scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                scale: 1.0,
                enableAccessibility: true,
                sendEmail: { enabled: false },
                ready: function () {
                    //this.refreshReport();
                }
            });
        });

        const generateReport = () => {
            params = {
                StoreId: 17,
                AssetStatusId: 1
            };

            var viewer = $("#reportViewer1").data("telerik_ReportViewer");
            viewer.reportSource({
                report: viewer.reportSource().report,
                parameters: params
            });
        }
    </script>

</body>
</html>