@model MODAMS.Models.ViewModels.Dto.dtoReporting

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MODAMS Report Viewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.blueopal.min.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/brand/favicon.ico" />
    <!--If Kendo is used it should be added before the report viewer.-->
    <script src="/api/reports/resources/js/telerikReportViewer-18.0.24.305.min.js/"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>
</head>
<body>

    <div id="reportViewer1">
        loading...
    </div>

    <script type="text/javascript">
        $(document).ready(() => {

            let reportId = '@Model.ReportId';
            console.log(reportId);
            let params = getParams(reportId);
            console.log(params);
            reportId += '.trdp';

            $("#reportViewer1").telerik_ReportViewer({

                serviceUrl: "/api/reports",
                reportSource: {
                    report: reportId,
                    parameters: params
                },

                viewMode: telerikReportViewer.ViewModes.INTERACTIVE,
                scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,
                scale: 1.0,
                enableAccessibility: true,
                sendEmail: { enabled: false },
                clientSettings: {
                    messages: {
                        noDataMessage: "No data found or no data available."
                    }
                },
                ready: function () {
                    //this.refreshReport();
                }
            });
        });

        const getParams = (reportId) => {
            let params = {};

            if (reportId == "AssetReport") {
                let storeId = parseInt('@Model.AssetStoreId');
                let assetStatusId = parseInt('@Model.AssetStatusId');
                let categoryId = parseInt('@Model.CategoryId');
                let assetConditionId = parseInt('@Model.AssetConditionId');
                let donorId = parseInt('@Model.DonorId');

                params = {
                    StoreId: storeId,
                    AssetStatusId: assetStatusId,
                    CategoryId: categoryId,
                    AssetConditionId: assetConditionId,
                    DonorId: donorId
                };
            } else if (reportId == "TransferVoucher") {
                let transferId = '@Model.TransferId';

                params = {
                    TransferId: transferId
                };
            } else if (reportId == "TransferReport") {
                let storeFromId = '@Model.StoreFromId';
                let storeToId = '@Model.StoreToId';
                let transferStatusId = '@Model.TransferStatusId';

                params = {
                    StoreFromId: storeFromId,
                    StoreToId: storeToId,
                    TransferStatusId: transferStatusId
                };

            } else if (reportId == "DisposalReport") { 
                let disposalStoreId = '@Model.DisposalStoreId';
                let disposalTypeId = '@Model.DisposalTypeId';

                params = {
                    StoreId: disposalStoreId,
                    DisposalTypeId: disposalTypeId
                };
            }

            params = Object.fromEntries(Object.entries(params).filter(([_, value]) => value > 0));

            return params;
        }
    </script>

</body>
</html>