@model List<MODAMS.Models.AssetPicture>

<style>
    .input-group {
        display: flex;
        align-items: center;
    }
</style>
<div class="page-header">
    <div>
        <h1 class="page-title">Asset Information</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="Index">Stores</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="StoreDetails" asp-route-id="@TempData["storeId"]">@TempData["storeName"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Assets" asp-action="Index" asp-route-id="@TempData["storeId"]">Assets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Picture Gallery</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">@TempData["assetInfo"]</h4>
                    <div class="d-sm-flex align-items-center">
                        <div class="btn-list mx-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="UploadPicture" enctype="multipart/form-data">
                    <input type="hidden" id="AssetId" name="AssetId" value="@TempData["assetId"]" />
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-xl-6">
                            <div class="form-group">
                                <label class="form-label">Choose picture to upload</label>
                                <div class="input-group">
                                    <input class="form-control file-input" type="file" id="file" name="file" required accept="image/*">
                                    <button class="btn btn-primary btn-sm"><i class="fa fa-solid fa-upload"></i> Upload</button>
                                </div>
                                <div class="invalid-feedback">
                                    Please choose a picture to upload.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4>Asset Pictures</h4>
    </div>
    <div class="card-body">
        <div class="row">
            @{
                if (Model.Count > 0)
                {
                    foreach (var pic in Model)
                    {
                        <div class="col-md-3">
                            <img src="@pic.ImageUrl"/>
                            <div class="text-center"><a asp-action="DeletePicture" asp-controller="Assets" 
                            asp-route-id="@pic.Id" asp-route-assetId="@pic.AssetId" class="text-danger"> <i class="fa fa-trash">&nbsp;</i>Delete</a></div>
                            <div class="text-center">&nbsp</div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-12 text-center">No pictures available!</div>
                }
            }
        </div>
    </div>
</div>

