@using System.Globalization;
@model MODAMS.Models.ViewModels.dtoAssetInfo
@inject MODAMS.Utility.IAMSFunc _func

<div class="page-header">
    <div>
        <h1 class="page-title">Asset Information</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="Index">Stores</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="StoreDetails" asp-route-id="@TempData["storeId"]">@TempData["storeName"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Assets" asp-action="Index" asp-route-id="@TempData["storeId"]">Assets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Asset Information</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card overflow-hidden">
            <div class="card-footer p-0">
                <!-- Tabs -->
                <div class="tabs-menu4 py-5 project-menu">
                    <nav class="nav border-bottom px-4 d-block d-lg-flex flex-2">
                        <a id="a_tab_1" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1 active" data-bs-toggle="tab" href="#tab_1">
                            Overview
                        </a>
                        <a id="a_tab_2" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1" data-bs-toggle="tab" href="#tab_2">
                            Documents
                        </a>
                        <a id="a_tab_3" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1" data-bs-toggle="tab" href="#tab_3">
                            Pictures
                        </a>
                    </nav>
                </div>
                <!-- /Tabs -->
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!-- ROW -->
                <div class="row">
                    <div class="col-xl-9 col-lg-12">
                        <div class="card">
                            <div class="card-header border-bottom d-block">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="mb-1">@Model.Asset.Make - @Model.Asset.Model - @Model.Asset.Year <a asp-action="EditAsset" asp-controller="Assets" asp-route-id="@Model.Asset.Id" class="ms-1" id="checkElement"><i class="fe fe-edit"></i></a></h4>
                                        @*<div class="d-sm-flex d-block">
                                        <div class="text-muted pe-2 project-date">11 Jan 21</div>
                                        <div class="text-muted ms-3 project-status">In Progress</div>
                                        </div>*@
                                    </div>

                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="border-top"></div>
                                <div class="table-responsive p-5">
                                    <table class="table row table-borderless">

                                        <tbody class="col-lg-12 col-xl-4 p-0">
                                            <tr>
                                                <td><strong>Asset Category :</strong> @Model.Asset.SubCategory.SubCategoryName</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Manufacturing Country :</strong> @Model.Asset.ManufacturingCountry</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Condition : </strong> @Model.Asset.Condition.ConditionName</td>
                                            </tr>
                                        </tbody>

                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">

                                            <tr>
                                                <td><strong>Asset Name :</strong> @Model.Asset.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Purchase Order :</strong> @Model.Asset.PONumber</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Barcode :</strong> @Model.Asset.Barcode </td>
                                            </tr>

                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Serial Number :</strong> @Model.Asset.SerialNo</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Purchase Date :</strong> @Model.Asset.PurchaseDate?.ToString("MMMM dd, yyyy") </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reciept Date :</strong> @Model.Asset.RecieptDate?.ToString("MMMM dd, yyyy") </td>
                                            </tr>
                                        </tbody>

                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Procured By : </strong> @Model.Asset.ProcuredBy</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Donor :</strong> @Model.Asset.Donor.Name</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Remarks :</strong> @Model.Asset.Remarks </td>
                                            </tr>
                                        </tbody>
                                        @{
                                            if (Model.Asset.SubCategory.Category.Id == 16)
                                            {
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Engine Number : </strong> @Model.Asset.Engine</td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Chasis Number:</strong> @Model.Asset.Chasis</td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Plate Number :</strong> @Model.Asset.Plate </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        }

                                        <tbody class="col-lg-12 col-xl-8 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Specifications : </strong> @Model.Asset.Specifications</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row prjct-details">
                                    <div class="col-xl-2 col-lg-12">
                                        <div class="text-center border py-5 br-5 details">
                                            <div>
                                                <span class="m-0 text-muted">Initial Cost:</span>
                                            </div>
                                            <h5 class="mt-3 text-teritary">@Model.Asset.Cost.ToString("C2")</h5>
                                        </div>
                                    </div>
                                    @{
                                        var cost = Model.Asset.Cost;
                                        decimal depCost = 0;
                                        decimal difference = 0;
                                        string usePercentage = "0";

                                        if (cost > 0)
                                        {
                                            depCost = _func.GetDepreciatedCost(Model.Asset.Id);
                                            difference = cost - depCost;

                                            usePercentage = ((difference * 100) / cost).ToString("N0");
                                        }

                                    }
                                    <div class="col-xl-8 col-lg-12">
                                        <div class="text-center d-f-ai-c-jc-c border py-5 br-5">
                                            <div class="wp-80">
                                                <div class="project-percentage medium-bar medium-lg">
                                                    <div class="percentage-title mb-4">
                                                        <span class="text-muted">
                                                            <i class="fe fe-clipboard"></i>
                                                            Asset Usage
                                                        </span>
                                                        <span class="progress-main font-weight-semibold text-13 mb-1">@usePercentage% / 100%</span>
                                                    </div>

                                                    <div class="progress progress-md mb-3">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                                             role="progressbar"
                                                             style="width: @usePercentage%"
                                                             area-valuenow="@usePercentage"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-12">
                                        <div class="text-center border py-5 br-5 details">
                                            <div>
                                                <span class="m-0 text-muted"> Current Value:</span>
                                            </div>
                                            <h5 class="mt-3 text-danger">@depCost.ToString("C2")</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h3 class="card-title">Activity Log</h3>
                            </div>
                            <div class="card-body">
                                <ul class="task-list">
                                    <li>
                                        <i class="task-icon bg-primary"></i>
                                        <h6>Registered by Baryalay Baz.</h6>
                                        <p class="text-muted fs-12">02 Feb 2020</p>
                                    </li>
                                    <li>
                                        <i class="task-icon bg-secondary"></i>
                                        <h6>Document added by Baryalay Baz.</h6>
                                        <p class="text-muted fs-12">05 Feb 2020</p>
                                    </li>
                                    <li>
                                        <i class="task-icon bg-teritary"></i>
                                        <h6><a href="#" class="fw-semibold text-dark">Baryalay Baz</a> updated the data.</h6>
                                        <p class="text-muted fs-12">02 Mar 2020</p>
                                    </li>
                                    <li>
                                        <i class="task-icon bg-custom-yellow"></i>
                                        <h6><a href="#" class="fw-semibold text-dark">Abdiraxman</a> added a picture.</h6>
                                        <p class="text-muted fs-12">05 Mar 2020</p>
                                    </li>
                                    <li>
                                        <i class="task-icon bg-orange"></i>
                                        <h6><a href="#" class="fw-semibold text-dark">Baryalay Baz</a> updated the data.</h6>
                                        <p class="text-muted fs-12">15 Mar 2020</p>
                                    </li>
                                    <li>
                                        <i class="task-icon bg-primary"></i>
                                        <h6><a href="#" class="btn btn-link"> more...</a></h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Asset Documents</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tblDocuments" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                        <thead class="table-head">
                                            <tr>
                                                <th class="bg-transparent border-bottom-0 w-5">S.No</th>
                                                <th class="bg-transparent border-bottom-0">Document Name</th>
                                                <th class="bg-transparent border-bottom-0">Download Link</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            @{
                                                int nCounter = 0;
                                                string sCounter = "";
                                                if (Model.Documents.Count > 0)
                                                {

                                                    foreach (var doc in Model.Documents)
                                                    {
                                                        nCounter++;
                                                        sCounter = nCounter < 10 ? '0' + nCounter.ToString() : nCounter.ToString();
                                                        <tr>
                                                            <td class="text-muted text-center fs-15 fw-semibold">@sCounter.</td>
                                                            <td class="text-muted fs-15 fw-semibold">@doc.Name</td>
                                                            <td class="text-muted fs-15 fw-semibold">
                                                                @{
                                                                    if (doc.Id > 0)
                                                                    {
                                                                        <a href="@doc.DocumentUrl" class="btn btn-link">Download</a>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3"><center>Data not available!</center></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="demo-gallery card">
                            <div class="card-header">
                                <div class="card-title">Asset Picture Gallery</div>
                            </div>
                            <div class="card-body">
                                <ul id="lightgallery" class="list-unstyled row">
                                    @{
                                        if (Model.dtoAssetPictures.PaginatedPictures().Count > 0)
                                        {
                                            nCounter = 0;
                                            foreach (var pic in Model.dtoAssetPictures.PaginatedPictures())
                                            {
                                                nCounter++;
                                                <li class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-5 border-bottom-0" data-responsive="~/assetpictures" data-src="@pic.ImageUrl" data-sub-html="">
                                                    <a href="javascript:void(0)">
                                                        <img class="img-responsive br-5 wp-100" src="@pic.ImageUrl" alt="Thumb-1">
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-5 border-bottom-0">
                                                    <span>No pictures uploaded!</span>
                                            </li>
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- GALLERY DEMO CLOSED -->
                        <!-- PAGINATION OPEN -->
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="float-end">
                                    <ul class="pagination">
                                        @*<li class="page-item page-prev disabled">
                                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                                        </li>*@
                                        @for (int i = 1; i <= Model.dtoAssetPictures.PageCount(); i++)
                                        {
                                            <li class="@(i == Model.dtoAssetPictures.CurrentPage ? "page-item active" : "page-item")">
                                                <a class="page-link" href="@Url.Action("AssetInfo", new { id=Model.Asset.Id, page = i, tab = 3 })">@i</a>
                                            </li>
                                        }
                                        @*<li class="page-item page-next">
                                        <a class="page-link" href="#">Next</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- PAGINATION CLOSED -->
                    </div>
                </div>


            </div>
        </div>
        <div class="card">
            <div class="card-footer">
                <a asp-action="Index" asp-controller="Assets" asp-route-id="@Model.Asset.StoreId" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <!-- GALLERY JS -->
    <script src="~/assets/plugins/gallery/picturefill.js"></script>
    <script src="~/assets/plugins/gallery/lightgallery.js"></script>
    <script src="~/assets/plugins/gallery/lightgallery-1.js"></script>
    <script src="~/assets/plugins/gallery/lg-pager.js"></script>
    <script src="~/assets/plugins/gallery/lg-autoplay.js"></script>
    <script src="~/assets/plugins/gallery/lg-fullscreen.js"></script>
    <script src="~/assets/plugins/gallery/lg-zoom.js"></script>
    <script src="~/assets/plugins/gallery/lg-hash.js"></script>
    <script src="~/assets/plugins/gallery/lg-share.js"></script>

    <script>
        $(document).ready(function(){
            setTab();
        });
        const setTab = ()=>{
            var tab = '@TempData["tab"]';

            if (tab == "1" || tab == null) {
                $("#tab_1").addClass("active");
                $("#a_tab_1").addClass("active");

                $("#tab_2").removeClass("active");
                $("#a_tab_2").removeClass("active");

                $("#tab_3").removeClass("active");
                $("#a_tab_3").removeClass("active");
            } else if (tab == "2") {
                $("#tab_1").removeClass("active");
                $("#a_tab_1").removeClass("active");

                $("#tab_2").addClass("active");
                $("#a_tab_2").addClass("active");

                $("#tab_3").removeClass("active");
                $("#a_tab_3").removeClass("active");
            } else {
                $("#tab_1").removeClass("active");
                $("#a_tab_1").removeClass("active");

                $("#tab_2").removeClass("active");
                $("#a_tab_2").removeClass("active");

                $("#tab_3").addClass("active");
                $("#a_tab_3").addClass("active");
            }
        }

    </script>
}