@using MODAMS.Utility;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@model MODAMS.Models.ViewModels.Dto.AssetListDTO
@inject IViewLocalizer Localizer

@{
    ViewData["TourPageKey"] = "Assets/AssetList";
}

<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["AssetList"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["AssetList"]</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow--xs">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">
                        @Model.CategoryName (@Localizer["Count"]: @Model.TotalAssets())
                    </h4>
                    <select id="ddlCategoryFilter"
                            asp-for="@Model.CategoryId"
                            asp-items="@Model.CategorySelectList"
                            class="form-control form-select">
                        <option value="0">@Localizer["AllAssets"]</option>
                    </select>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 mb-3">
    </div>
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-body project-list-table-container">
                <div class="table-responsive export-table">
                    <table id="tblAssets" class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main">
                        <thead class="bg-primary-gradient ms-auto divShadow">
                            <tr>
                                <th class="text-white bg-transparent border-bottom-0 w-5">@Localizer["SNo"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Category"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Make"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Model"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["AssetName"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Identification"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Store"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Status"]</th>
                                <th class="text-white bg-transparent border-bottom-0 w-10 no-btn">@Localizer["Action"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                var isSomali = CultureInfo.CurrentUICulture.Name == "so";
                                int nCounter = 0;
                                string sCounter = "0";
                                string sBackground = "primary";
                                string sIdentification = "";
                                string sDataTourString = "data-tour=al.assetinfo";
                                foreach (var asset in Model.AssetList)
                                {
                                    nCounter++;
                                    sCounter = (nCounter < 10) ? "0" + nCounter.ToString() : nCounter.ToString();
                                    sIdentification = asset.SubCategory.Category.CategoryName == "Vehicles" ? "Plate: " + asset.Plate : "SN: " + asset.SerialNo;
                                    sDataTourString = nCounter == 1 ? "data-tour=al.assetinfo" : "";

                                    switch (asset.AssetStatusId)
                                    {
                                        case SD.Asset_Available:
                                            sBackground = "primary";
                                            break;
                                        case SD.Asset_Disposed:
                                            sBackground = "secondary";
                                            break;
                                        case SD.Asset_HandedOver:
                                            sBackground = "info";
                                            break;
                                    }
                                    <tr>
                                        <td class="text-muted text-center fs-15 fw-semibold">@sCounter.</td>
                                        <td class="text-muted fs-15 fw-semibold">@(isSomali? asset.SubCategory.SubCategoryNameSo : asset.SubCategory.SubCategoryName)</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Make</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Model</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Name</td>
                                        <td class="text-muted fs-15 fw-semibold">@sIdentification</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Store.Name</td>
                                        <td class="text-muted fs-15 fw-semibold">
                                            <span class="text-primary">
                                                <span class="mb-0 mt-1 badge rounded-pill bg-@sBackground-transparent text-@sBackground">
                                                    @(isSomali? asset.AssetStatus.StatusNameSo : asset.AssetStatus.StatusName)
                                                </span>
                                            </span>
                                        </td>
                                        <td class="text-muted fs-15 fw-semibold">
                                            <div class="d-flex align-items-stretch">
                                                <a asp-controller="Assets" asp-action="AssetInfo" asp-route-id="@asset.Id" 
                                                   class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-original-title="@Localizer["AssetInformation"]">
                                                    <i class="fe fe-info" @Html.Raw(sDataTourString)></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_DatatablesAssets" />
    <script src="~/js/pages/assets-assetlist.js"></script>
}