@using System.Globalization
@model MODAMS.Models.ViewModels.Dto.dtoAssetInfo

@inject MODAMS.Utility.IAMSFunc _func

<div class="page-header">
    <div>
        <h1 class="page-title">Asset Information</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            @{
                int categoryId = Convert.ToInt32(TempData["categoryId"]);

                if (categoryId > 0)
                {
                    <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Assets" asp-action="AssetList" asp-route-id="@categoryId">Asset List</a></li>
                }
                else
                {
                    <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="Index">Stores</a></li>
                    <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Stores" asp-action="StoreDetails" asp-route-id="@TempData["storeId"]">@TempData["storeName"]</a></li>
                    <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Assets" asp-action="Index" asp-route-id="@TempData["storeId"]">Assets</a></li>
                }
            }
            <li class="breadcrumb-item active" aria-current="page">Asset Information</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="card overflow-hidden">
            <div class="card-footer p-0">
                <!-- Tabs -->
                <div class="tabs-menu4 py-5 project-menu">
                    <nav class="nav border-bottom px-4 d-block d-lg-flex flex-2">
                        <a id="a_tab_1" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1 active" data-bs-toggle="tab" href="#tab_1">
                            Overview
                        </a>
                        <a id="a_tab_2" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1" data-bs-toggle="tab" href="#tab_2">
                            Documents
                        </a>
                        <a id="a_tab_3" class="nav-link border py-1 mb-2 mb-lg-0 br-lg-5 mx-1 mx-md-1" data-bs-toggle="tab" href="#tab_3">
                            Pictures
                        </a>
                    </nav>
                </div>
                <!-- /Tabs -->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!-- ROW -->
                <div class="row">
                    <div class="col-xl-9 col-lg-12">
                        <div class="card">
                            <div class="card-header border-bottom d-block divShadow bg-info-gradient text-white">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h4 class="mb-1">
                                            @Model.Asset.Make - @Model.Asset.Model - @Model.Asset.Year
                                            @{
                                                var employeeId = await _func.GetEmployeeIdAsync();

                                                employeeId = (User.IsInRole("User")) ? await _func.GetSupervisorIdAsync(employeeId) : employeeId;
                                                if (employeeId == await _func.GetStoreOwnerIdAsync(await _func.GetStoreIdByAssetIdAsync(Model.Asset.Id)))
                                                {
                                                    <a asp-action="EditAsset" asp-controller="Assets" asp-route-id="@Model.Asset.Id" class="ms-1" id="checkElement"><i class="fe fe-edit"></i></a>
                                                }
                                                if (User.IsInRole("Administrator"))
                                                {
                                                    <a asp-action="DeleteAsset" asp-controller = "Assets" asp-route-id="@Model.Asset.Id" class="float-end btn btn-secondary-gradient">
                                                        <i class="fa fa-trash"></i>&nbsp;Delete Asset
                                                    </a>
                                                }
                                            }
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0" style="height:340px;">
                                <div class="border-top"></div>
                                <div class="table-responsive p-5">
                                    <table class="table row table-borderless">
                                        <tbody class="col-lg-12 col-xl-4 p-0">
                                            <tr>
                                                <td><strong>Make :</strong> @Model.Asset.Make</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Asset Category :</strong> @Model.Asset.SubCategory.SubCategoryName</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Manufacturing Country :</strong> @Model.Asset.ManufacturingCountry</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Condition : </strong> @Model.Asset.Condition.ConditionName</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Model :</strong> @Model.Asset.Model</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Asset Name :</strong> @Model.Asset.Name</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Purchase Order :</strong> @Model.Asset.PONumber</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Barcode :</strong> @Model.Asset.Barcode </td>
                                            </tr>

                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Year :</strong> @Model.Asset.Year</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Serial Number :</strong> @Model.Asset.SerialNo</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Purchase Date :</strong> @Model.Asset.PurchaseDate?.ToString("MMMM dd, yyyy") </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Reciept Date :</strong> @Model.Asset.RecieptDate?.ToString("MMMM dd, yyyy") </td>
                                            </tr>
                                        </tbody>

                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Procured By : </strong> @Model.Asset.ProcuredBy</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Donor :</strong> @Model.Asset.Donor.Name</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Remarks :</strong> @Model.Asset.Remarks </td>
                                            </tr>
                                        </tbody>
                                        @{
                                            if (Model.Asset.SubCategory.Category.Id == 16)
                                            {
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Engine Number : </strong> @Model.Asset.Engine</td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Chasis Number:</strong> @Model.Asset.Chasis</td>
                                                    </tr>
                                                </tbody>
                                                <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                                    <tr>
                                                        <td><strong>Plate Number :</strong> @Model.Asset.Plate </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        }
                                        <tbody class="col-lg-12 col-xl-8 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Specifications : </strong> @Model.Asset.Specifications</td>
                                            </tr>
                                        </tbody>
                                        <tbody class="col-lg-12 col-xl-4 p-0 border-top-0">
                                            <tr>
                                                <td><strong>Status : </strong> @Model.Asset.AssetStatus.StatusName</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body" style="height:170px;">
                                <div class="row prjct-details">
                                    <div class="col-xl-2 col-lg-12">
                                        <div class="text-center border py-5 br-5 details">
                                            <div>
                                                <span class="m-0 text-muted">Initial Cost:</span>
                                            </div>
                                            <h5 class="mt-3 text-teritary">@Model.Asset.Cost.ToString("C2")</h5>
                                        </div>
                                    </div>
                                    @{
                                        var cost = Model.Asset.Cost;
                                        decimal depCost = 0;
                                        decimal difference = 0;
                                        string usePercentage = "0";

                                        if (cost > 0)
                                        {
                                            depCost = await _func.GetDepreciatedCostAsync(Model.Asset.Id);
                                            difference = cost - depCost;

                                            usePercentage = ((difference * 100) / cost).ToString("N0");
                                        }

                                    }
                                    <div class="col-xl-8 col-lg-12">
                                        <div class="text-center d-f-ai-c-jc-c border py-5 br-5">
                                            <div class="wp-80">
                                                <div class="project-percentage medium-bar medium-lg">
                                                    <div class="percentage-title mb-4">
                                                        <span class="text-muted">
                                                            <i class="fe fe-clipboard"></i>
                                                            Asset Usage
                                                        </span>
                                                        <span class="progress-main font-weight-semibold text-13 mb-1">@usePercentage% / 100%</span>
                                                    </div>

                                                    <div class="progress progress-md mb-3">
                                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                                             role="progressbar"
                                                             style="width: @usePercentage%"
                                                             area-valuenow="@usePercentage"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-12">
                                        <div class="text-center border py-5 br-5 details">
                                            <div>
                                                <span class="m-0 text-muted"> Current Value:</span>
                                            </div>
                                            <h5 class="mt-3 text-danger">@depCost.ToString("C2")</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h3 class="card-title text-bold">Asset History</h3>
                            </div>
                            <div class="card-body" style="height:540px;">
                                <ul class="task-list">
                                    @{
                                        int historyCount = Model.AssetHistory.Count;
                                        int nHistoryCounter = 1;
                                        foreach (var history in Model.AssetHistory)
                                        {
                                            string formattedDate = history.TimeStamp.ToString("dd-MMM-yyyy");

                                            <li>
                                                <i class="task-icon @_func.GetBGColor(nHistoryCounter)"></i>
                                                <p class="fw-semibold">@history.Description</p>
                                                <p class="text-muted fs-12">@formattedDate</p>
                                            </li>
                                            if (nHistoryCounter == 5 && historyCount > 5)
                                            {
                                                <li>
                                                    <i class="task-icon bg-primary"></i>
                                                    <h6><a href="#" class="btn btn-link"> more...</a></h6>
                                                </li>

                                                break;
                                            }
                                            nHistoryCounter++;
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="p-3 divShadow">
                                <div class="float-start">
                                    <h5>Asset Documents</h5>
                                </div>
                                <div class="float-end">
                                    @{
                                        if (employeeId == await _func.GetStoreOwnerIdAsync(await _func.GetStoreIdByAssetIdAsync(Model.Asset.Id)))
                                        {
                                            <a class="btn btn-outline-primary btn-sm" asp-action="AssetDocuments" asp-controller="Assets" asp-route-id="@Model.Asset.Id" id="checkElement"><i class="fa fa-edit"></i>&nbsp;Edit Documents</a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="tblDocuments" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                        <thead class="table-head">
                                            <tr>
                                                <th class="bg-transparent border-bottom-0 w-5">S.No</th>
                                                <th class="bg-transparent border-bottom-0">Document Name</th>
                                                <th class="bg-transparent border-bottom-0">Download Link</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-body">
                                            @{
                                                int nCounter = 0;
                                                string sCounter = "";
                                                if (Model.Documents.Count > 0)
                                                {

                                                    foreach (var doc in Model.Documents)
                                                    {
                                                        nCounter++;
                                                        sCounter = nCounter < 10 ? '0' + nCounter.ToString() : nCounter.ToString();
                                                        <tr>
                                                            <td class="text-muted text-center fs-15 fw-semibold">@sCounter.</td>
                                                            <td class="text-muted fs-15 fw-semibold">@doc.Name</td>
                                                            <td class="text-muted fs-15 fw-semibold">
                                                                @{
                                                                    if (doc.Id > 0)
                                                                    {
                                                                        <a href="@doc.DocumentUrl" class="btn btn-link">Download</a>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="demo-gallery card">
                            <div class="p-3 divShadow">
                                <div class="float-start">
                                    <h5>Asset Picture Gallery</h5>
                                </div>
                                <div class="float-end">
                                    @{
                                        if (employeeId == await _func.GetStoreOwnerIdAsync(await _func.GetStoreIdByAssetIdAsync(Model.Asset.Id)))
                                        {
                                            <a class="btn btn-outline-primary btn-sm" asp-action="AssetPictures" asp-controller="Assets" asp-route-id="@Model.Asset.Id" id="checkElement"><i class="fa fa-edit"></i>&nbsp;Edit Pictures</a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <ul id="lightgallery" class="list-unstyled row">
                                    @{
                                        if (Model.dtoAssetPictures.PaginatedPictures().Count > 0)
                                        {
                                            nCounter = 0;
                                            foreach (var pic in Model.dtoAssetPictures.PaginatedPictures())
                                            {
                                                nCounter++;
                                                <li class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-5 border-bottom-0" data-responsive="~/assetpictures" data-src="@pic.ImageUrl" data-sub-html="">
                                                    <a href="javascript:void(0)">
                                                        <img class="img-responsive br-5 wp-100" src="@pic.ImageUrl" alt="Thumb-1">
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-5 border-bottom-0">
                                                <span class="text-center">No pictures uploaded!</span>
                                            </li>
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- GALLERY DEMO CLOSED -->
                        <!-- PAGINATION OPEN -->
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="float-end">
                                    <ul class="pagination">
                                        @*<li class="page-item page-prev disabled">
                                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                                        </li>*@
                                        @for (int i = 1; i <= Model.dtoAssetPictures.PageCount(); i++)
                                        {
                                            <li class="@(i == Model.dtoAssetPictures.CurrentPage ? "page-item active" : "page-item")">
                                                <a class="page-link" href="@Url.Action("AssetInfo", new { id=Model.Asset.Id, page = i, tab = 3 })">@i</a>
                                            </li>
                                        }
                                        @*<li class="page-item page-next">
                                        <a class="page-link" href="#">Next</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                            <!-- COL-END -->
                        </div>
                        <!-- PAGINATION CLOSED -->
                    </div>
                </div>


            </div>
        </div>
        <div class="card">
            <div class="card-footer">
                @{
                    if (categoryId > 0)
                    {
                        <a asp-action="AssetList" asp-controller="Assets" asp-route-id="@categoryId" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Assets" asp-route-id="@Model.Asset.StoreId" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    }
                }

            </div>
        </div>

    </div>
</div>

@section scripts {
    <!-- GALLERY JS -->
    <script src="~/assets/plugins/gallery/picturefill.js"></script>
    <script src="~/assets/plugins/gallery/lightgallery.js"></script>
    <script src="~/assets/plugins/gallery/lightgallery-1.js"></script>
    <script src="~/assets/plugins/gallery/lg-pager.js"></script>
    <script src="~/assets/plugins/gallery/lg-autoplay.js"></script>
    <script src="~/assets/plugins/gallery/lg-fullscreen.js"></script>
    <script src="~/assets/plugins/gallery/lg-zoom.js"></script>
    <script src="~/assets/plugins/gallery/lg-hash.js"></script>
    <script src="~/assets/plugins/gallery/lg-share.js"></script>

    <script>
        $(document).ready(function () {
            hideMenu();

            makeDataTable('#tblDocuments');

            setTab();
        });
        const setTab = () => {
            var tab = '@TempData["tab"]';

            if (tab == "1" || tab == null) {
                $("#tab_1").addClass("active");
                $("#a_tab_1").addClass("active");

                $("#tab_2").removeClass("active");
                $("#a_tab_2").removeClass("active");

                $("#tab_3").removeClass("active");
                $("#a_tab_3").removeClass("active");
            } else if (tab == "2") {
                $("#tab_1").removeClass("active");
                $("#a_tab_1").removeClass("active");

                $("#tab_2").addClass("active");
                $("#a_tab_2").addClass("active");

                $("#tab_3").removeClass("active");
                $("#a_tab_3").removeClass("active");
            } else {
                $("#tab_1").removeClass("active");
                $("#a_tab_1").removeClass("active");

                $("#tab_2").removeClass("active");
                $("#a_tab_2").removeClass("active");

                $("#tab_3").addClass("active");
                $("#a_tab_3").addClass("active");
            }
        }

    </script>
}