@model List<MODAMS.Models.Asset>

<div class="page-header">
    <div>
        <h1 class="page-title">Assets</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Asset List</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">@TempData["categoryName"]</h4>
                    <div class="d-sm-flex align-items-center">
                        <div class="btn-list mx-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <div class="btn-list">

        </div>
    </div>
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-body project-list-table-container">
                <div class="table-responsive">
                    <table id="tblAssets" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                        <thead class="bg-primary-gradient ms-auto divShadow">
                            <tr>
                                <th class="text-white bg-transparent border-bottom-0 w-5" width="10%">S.No</th>
                                <th class="text-white bg-transparent border-bottom-0">Category</th>
                                <th class="text-white bg-transparent border-bottom-0">Make</th>
                                <th class="text-white bg-transparent border-bottom-0">Model</th>
                                <th class="text-white bg-transparent border-bottom-0">Asset Name</th>
                                <th class="text-white bg-transparent border-bottom-0">Plate No.</th>
                                <th class="text-white bg-transparent border-bottom-0">Serial No.</th>
                                <th class="text-white bg-transparent border-bottom-0">Store Name</th>
                                <th class="text-white bg-transparent border-bottom-0">Status</th>
                                <th class="text-white bg-transparent border-bottom-0 no-btn">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            @{
                                int nCounter = 0;
                                string sCounter = "0";
                                foreach (var asset in Model)
                                {
                                    nCounter++;
                                    sCounter = (nCounter < 10) ? "0" + nCounter.ToString() : nCounter.ToString();

                                    <tr>
                                        <td class="text-muted text-center fs-15 fw-semibold">@sCounter.</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.SubCategory.SubCategoryName</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Make</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Model</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Name</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Plate</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.SerialNo</td>
                                        <td class="text-muted fs-15 fw-semibold">@asset.Store.Name</td>
                                        <td class="text-muted fs-15 fw-semibold">
                                            <span class="text-primary">
                                                <span class="mb-0 mt-1 badge rounded-pill bg-primary-transparent text-info">
                                                    @asset.AssetStatus.StatusName
                                                </span>
                                            </span>
                                        </td>
                                        <td class="text-muted fs-15 fw-semibold">
                                            <div class="d-flex align-items-stretch">
                                                <a asp-controller="Assets" asp-action="AssetInfo" asp-route-id="@asset.Id" asp-route-categoryId="@asset.SubCategory.CategoryId" class="btn btn-sm btn-outline-info border me-2" data-bs-toggle="tooltip" data-bs-original-title="Asset Information">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!-- PROJECT-LIST JS-->
    @*<script src="~/assets/js/project-list.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#tblAssets').DataTable({
                "createdRow": function (row, data, dataIndex) {
                    if (dataIndex % 2 == 1) {
                        $(row).addClass('bg-light-transparent');
                    }
                },
            });
            $('.even').addClass("bg-light-transparent");
            $('.odd').removeClass("bg-light-transparent");
        });
    </script>


}