@model MODAMS.Models.ViewModels.Dto.dtoEditTransfer
<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

</style>
<div class="page-header">
    <div>
        <h1 class="page-title">Asset Transfers</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Transfers" asp-action="Index">Transfers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Transfer</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card divShadow">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0">Edit Transfer</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="EditTransfer" id="frmTransfer">
                    <input asp-for="Transfer.Id" hidden />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group">
                                                <div class="mb-3 form-group">
                                                    <label>Transfer from Store</label>
                                                    <input type="text" class="form-control" value="@TempData["storeFrom"]" readonly aria-required="true" autocomplete="off" />
                                                    <span asp-validation-for="Transfer.TransferNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Transfer.TransferNumber"></label>
                                                <input asp-for="Transfer.TransferNumber" class="form-control" readonly aria-required="true" type="text" autocomplete="off" />
                                                <span asp-validation-for="Transfer.TransferNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Transfer.TransferDate"></label>
                                                <input asp-for="Transfer.TransferDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                <span asp-validation-for="Transfer.TransferDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group">
                                                <label asp-for="Transfer.StoreId"></label>
                                                <select asp-for="Transfer.StoreId" asp-items="@Model.StoreList"
                                                        class="form-control select2 form-select">
                                                    <option disabled selected>-Select Store-</option>
                                                </select>
                                                <span asp-validation-for="Transfer.StoreId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div aria-multiselectable="true" class="accordion-dark" id="accordion8" role="tablist">
                                                <div class="card mb-0">
                                                    <div class="card-header border-bottom-0" id="heading8" role="tab">
                                                        <a class="accor-style2 collapsed" aria-controls="collapse8" aria-expanded="false" data-bs-toggle="collapse" href="#collapse8"><i class="fe fe-plus-circle me-2"></i>Select Assets - <span id="spnSelection">(0 selected)</span></a>
                                                    </div>
                                                    <div aria-labelledby="heading8" class="collapse" data-bs-parent="#accordion8" id="collapse8" role="tabpanel">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main">
                                                                    <thead class="bg-primary-gradient ms-auto divShadow">
                                                                        <tr>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-2"></th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-10">Category</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Make</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Model</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Asset Name</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Serial No</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">Barcode</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            for (var i = 0; i < Model.Assets.Count(); i++)
                                                                            {
                                                                                <tr>

                                                                                    <td>
                                                                                        <input asp-for="@Model.Assets[i].AssetId" hidden />
                                                                                        <div class="col-auto">
                                                                                            <label class="ckbox" asp-for="@Model.Assets[i].IsSelected">
                                                                                                <input onclick="return selectAsset(@Model.Assets[i].AssetId,this);"
                                                                                                       type="checkbox" asp-for="@Model.Assets[i].IsSelected">
                                                                                                <span></span>
                                                                                            </label>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td>@Model.Assets[i].Category</td>
                                                                                    <td>@Model.Assets[i].Make</td>
                                                                                    <td>@Model.Assets[i].Model</td>
                                                                                    <td>@Model.Assets[i].AssetName</td>
                                                                                    <td>@Model.Assets[i].SerialNumber</td>
                                                                                    <td>@Model.Assets[i].Barcode</td>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3 form-group mt-2">
                                                <label asp-for="Transfer.Notes"></label>
                                                <input type="text" asp-for="Transfer.Notes" class="form-control" rows="3" />
                                                <span asp-validation-for="Transfer.Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex">
                                        <button type="button" class="btn btn-primary " id="btnSubmit"><i class="fa fa-check-circle"></i>&nbsp;Save Transfer</button>
                                        <button type="button" class="btn btn-primary " id="btnPreview"><i class="fa fa-check-circle"></i>&nbsp;Preview Transfer</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-status bg-info br-tr-7 br-tl-7"></div>
                                <div class="card-header">
                                    <div class="card-title">Your selection</div>
                                    <hr />
                                </div>
                                <div class="card-body">
                                    <div id="dvSelection"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .fancy-shadow {
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), -10px -10px 20px rgba(255, 255, 255, 0.5);
    }
</style>
@section Scripts{

    <script>
        let sData = '';
        let Data = null;
        let selection = [];

        $(document).ready(function () {

            sData = '@Html.Raw(Json.Serialize(Model.Assets))';
            Data = JSON.parse(sData);

            $('.select2').select2();

            $('.picker').datepicker({
                autoclose: true,
                format: 'dd-MM-yyyy',
                todayHighlight: true
            });
            makeDataTable("#tblTransfers", "1");
            loadSelection();


            $("#btnSubmit").on("click", (e) => {
                e.preventDefault();
                if (checkSelection()) {
                    $("#frmTransfer").submit();
                } else {
                    notif({
                        type: "warning",
                        msg: "<b>Warning: </b>No assets selected",
                        position: "center",
                        width: 500,
                        height: 60,
                        autohide: false
                    });
                }
            });
        });
        const loadSelection = () => {
            Data.forEach(function(e){
                if(e.isSelected==true){
                    selection.push(e.make + " - " + e.assetName + " - " + e.serialNumber);
                }
            });

            var sHtml = '<Table class="table table-bordered fancy-shadow"><tbody>';
            if (selection.length > 0) {
                for (let i = 0; i < selection.length; i++) {
                    sHtml += '<tr><td>' + (i + 1) + '. ' + selection[i] + '</td></tr>';
                }
                sHtml += '</tbody></table>';
            } else {
                sHtml += 'No Assets selected!';
            }
            $("#dvSelection").html(sHtml);
            $("#spnSelection").html("(" + selection.length + " selected)");
        }

        const selectAsset = (id, obj) => {

            var obj = $("#" + obj.id);
            var isChecked = obj.prop("checked");

            Data.forEach(function (e) {
                if (e.assetId == id) {
                    if (isChecked) {
                        e.isSelected = true;
                        selection.push(e.make + " - " + e.assetName + " - " + e.serialNumber);
                    } else {
                        e.isSelected = false;
                        let index = selection.indexOf(e.make + " - " + e.assetName + " - " + e.serialNumber);
                        if (index !== -1) {
                            selection.splice(index, 1);
                        }
                    }
                }
            });
            var sHtml = '<Table class="table table-bordered fancy-shadow"><tbody>';
            if (selection.length > 0) {
                for (let i = 0; i < selection.length; i++) {
                    sHtml += '<tr><td>' + (i + 1) + '. ' + selection[i] + '</td></tr>';
                }
                sHtml += '</tbody></table>';
            } else {
                sHtml += 'No Assets selected!';
            }
            $("#dvSelection").html(sHtml);
            $("#spnSelection").html("(" + selection.length + " selected)");
        }
        const checkSelection = () => {
            var blnResult = false;

            Data.forEach(function (e) {
                if (e.isSelected)
                    blnResult = true;
            });
            return blnResult;
        }
    </script>
}