@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MODAMS.Models.ViewModels.Dto.TransferEditDTO

@{
    ViewData["TourPageKey"] = "Transfers/EditTransfer";
}

<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }
</style>

<div class="page-header">
    <div>
        <h1 class="page-title" data-tour="et.title">@Localizer["AssetTransfers"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb" data-tour="et.breadcrumbs">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Transfers" asp-action="Index">@Localizer["Transfers"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["EditTransfer"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card divShadow--xs">
            <div class="card-body p-4">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="m-0" data-tour="et.header">@Localizer["EditTransfer"]</h4>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="post" asp-action="EditTransfer" id="frmTransfer" data-tour="et.form">
                    <input asp-for="Transfer.Id" hidden />
                    <input type="hidden" id="selectedAssets" name="selectedAssets" />

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card">
                                <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group" data-tour="et.from">
                                                <label>@Localizer["TransferFromStore"]</label>
                                                <input type="text" class="form-control" value="@Model.StoreFrom" readonly aria-required="true" autocomplete="off" />
                                                <span asp-validation-for="Transfer.TransferNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group" data-tour="et.number">
                                                <label asp-for="Transfer.TransferNumber"></label>
                                                <input asp-for="Transfer.TransferNumber" class="form-control" readonly aria-required="true" type="text" autocomplete="off" />
                                                <span asp-validation-for="Transfer.TransferNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group" data-tour="et.date">
                                                <label asp-for="Transfer.TransferDate"></label>
                                                <input asp-for="Transfer.TransferDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                <span asp-validation-for="Transfer.TransferDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="mb-3 form-group" data-tour="et.store">
                                                <label asp-for="Transfer.StoreId"></label>
                                                <select asp-for="Transfer.StoreId" asp-items="@Model.StoreList"
                                                        class="form-control select2 form-select">
                                                    <option disabled selected>-Select Store-</option>
                                                </select>
                                                <span asp-validation-for="Transfer.StoreId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" data-tour="et.assets.section">
                                        <div class="col-sm-12">
                                            <div aria-multiselectable="true" class="accordion-dark" id="accordion8" role="tablist">
                                                <div class="card mb-0">
                                                    <div class="card-header border-bottom-0" id="heading8" role="tab">
                                                        <a class="accor-style2 collapsed" aria-controls="collapse8" aria-expanded="false"
                                                           data-bs-toggle="collapse" href="#collapse8" data-tour="et.assets.toggle">
                                                            <i class="fe fe-plus-circle me-2"></i>@Localizer["SelectAssets"]
                                                            - <span id="spnSelection" data-tour="et.assets.count">(0 @Localizer["selected"])</span>
                                                        </a>
                                                    </div>
                                                    <div aria-labelledby="heading8" class="collapse" data-bs-parent="#accordion8" id="collapse8" role="tabpanel">
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table id="tblTransfers"
                                                                       class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main"
                                                                       data-tour="et.assets.table">
                                                                    <thead class="bg-primary-gradient ms-auto divShadow">
                                                                        <tr>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-2" data-tour="et.assets.checkbox">#</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Category"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Make"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Model"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["AssetName"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["SerialNo"]</th>
                                                                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Barcode"]</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{
                                                                            if (Model.Assets != null)
                                                                            {
                                                                                for (var i = 0; i < Model.Assets.Count(); i++)
                                                                                {
                                                                                    <tr>
                                                                                        <td>
                                                                                            <input asp-for="@Model.Assets[i].AssetId" hidden />
                                                                                            <div class="col-auto">
                                                                                                <label class="ckbox" asp-for="@Model.Assets[i].IsSelected">
                                                                                                    <input onclick="return selectAsset(@Model.Assets[i].AssetId,this);"
                                                                                                           type="checkbox" asp-for="@Model.Assets[i].IsSelected">
                                                                                                    <span></span>
                                                                                                </label>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td>@Model.Assets[i].Category</td>
                                                                                        <td>@Model.Assets[i].Make</td>
                                                                                        <td>@Model.Assets[i].Model</td>
                                                                                        <td>@Model.Assets[i].AssetName</td>
                                                                                        <td>@Model.Assets[i].SerialNumber</td>
                                                                                        <td>@Model.Assets[i].Barcode</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="mb-3 form-group mt-2" data-tour="et.notes">
                                                <label asp-for="Transfer.Notes"></label>
                                                <textarea asp-for="Transfer.Notes" class="form-control mb-4" placeholder="Transfer Notes" rows="3"></textarea>
                                                <span asp-validation-for="Transfer.Notes" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex">
                                        @{
                                            if (Model.Transfer.TransferStatusId == 1)
                                            {
                                                <button type="submit" class="btn btn-info-gradient" id="btnSubmit" data-tour="et.save">
                                                    <i class="fa fa-check-circle"></i>&nbsp;@Localizer["SaveTransfer"]
                                                </button>

                                                <button class="btn btn-secondary" id="btnDeleteTransfer" data-tour="et.delete">
                                                    <i class="fa fa-trash"></i> @Localizer["DeleteTransfer"]<i class="icon ion-ios-arrow-down text-12"></i>
                                                </button>
                                            }
                                        }

                                        <a asp-area="Users" asp-controller="Transfers" asp-action="PreviewTransfer"
                                           asp-route-id="@Model.Transfer.Id" class="btn btn-gray" data-tour="et.preview">
                                            <i class="fa fa-eye"></i>&nbsp;@Localizer["PreviewTransfer"]
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card" data-tour="et.selection.card">
                                <div class="card-status bg-info br-tr-7 br-tl-7"></div>
                                <div class="card-header">
                                    <div class="card-title" data-tour="et.selection.title">@Localizer["YourSelection"]</div>
                                    <hr />
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered" data-tour="et.selection.table">
                                        <tbody id="tbodySelection"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </form>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Transfers" id="btnCancel" class="btn btn-outline-default" data-tour="et.back">
                            <i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- card -->
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_Confirmation.cshtml")

@section Scripts {
    <partial name="_DatatablesAssets" />

    <script>
        window.AMS = window.AMS || {};
        window.AMS.pageData = {
            assets: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Assets)),
            i18n: {
                Category: "@Localizer["Category"]",
                AssetName: "@Localizer["AssetName"]",
                SerialNo: "@Localizer["SerialNo"]",
                Selected: "@Localizer["Selected"]",
                Warning: "@Localizer["Warning"]",
                NoAssetsSelected: "@Localizer["NoAssetsSelected"]"
            },
            delete: {
                actionUrl: "@Url.Action("DeleteTransfer", "Transfers", new { area = "Users", id = Model.Transfer.Id })",
                title: "@Localizer["DeleteTransfer"]",
                message: "@Localizer["DeleteConfirmationMessage"]",
                btnConfirmText: "@Localizer["Confirm"]",
                btnCancelText: "@Localizer["Cancel"]"
            }
        };
    </script>

    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/js/pages/transfers-edittransfer.js"></script>
}
