@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@model MODAMS.Models.ViewModels.Dto.TransferDTO

<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["AssetTransfers"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfers</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                @{
                    bool readOnly = (User.IsInRole("User") || User.IsInRole("StoreOwner")) ? true : false;

                    if (readOnly)
                    {
                        <select asp-for="StoreId" asp-items="@Model.StoreList"
                                class="form-control select2 form-select" disabled>
                        </select>
                    }
                    else
                    {
                        if (Model.StoreList.Any())
                        {
                            <select asp-for="StoreId" asp-items="@Model.StoreList"
                                    class="form-control select2 form-select">
                            </select>
                        }
                        else
                        {
                            <select class="form-control select2 form-select">
                                <option disabled>-@Localizer["NoTransfersAvailable"]-</option>
                            </select>
                        }
                    }
                }
                @{
                    bool _isSomali = CultureInfo.CurrentUICulture.Name == "so";
                }
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card divShadow">
                                            <div class="card-body">
                                                <a asp-area="Users" asp-controller="Transfers" asp-action="TransferredAssets" asp-route-id="@Model.StoreId">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h6 class="text-info">@Localizer["AssetsTransferred"]</h6>
                                                            <span class="text-info text-bold">@Localizer["Count"]: @Model.TotalTransferCount(Model.StoreId)</span><br />
                                                            <span class="text-info text-bold">@Localizer["Value"]: $@Model.TotalTransferValue.ToString("n2")</span>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-info-gradient text-white ms-auto">
                                                                <i class="fe fe-arrow-up"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card divShadow">
                                            <div class="card-body">
                                                <a asp-area="Users" asp-controller="Transfers" asp-action="ReceivedAssets" asp-route-id="@Model.StoreId">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h6 class="text-primary">@Localizer["AssetsReceived"]</h6>
                                                            <span class="text-primary text-bold">@Localizer["Count"]: @Model.TotalReceivedCount(Model.StoreId)</span><br />
                                                            <span class="text-primary text-bold">@Localizer["Value"]: $@Model.TotalReceivedValue.ToString("n2")</span>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-primary-gradient text-white ms-auto">
                                                                <i class="fe fe-arrow-down"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="panel panel-primary tab-style-underline">
                                    <div class=" tab-menu-heading border-bottom-0">
                                        <div class="tabs-menu1 ">
                                            <!-- Tabs -->
                                            <ul class="nav panel-tabs">
                                                <li><a href="#tabOutgoing" class="active me-1 text-default my-1" data-bs-toggle="tab">@Localizer["OutgoingTransfers"]</a></li>
                                                <li>
                                                    <a href="#tabIncoming" data-bs-toggle="tab" class="me-1 text-default my-1">@Localizer["IncomingTransfers"] &nbsp;<span id="spnNew" class="badge bg-danger"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body tabs-menu-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active " id="tabOutgoing">
                                                <div class="row">
                                                    <div class="col-8 col-sm-8">
                                                        <div class="mb-4">
                                                            <div class="input-group">
                                                                <label class="rdiobox" for="rd-0"><input onclick="return radioCall(0);" class="mr-5" name="rd-status" type="radio" id="rd-0" checked><span style="font-size:medium;">@Localizer["AllTransfers"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-1"><input onclick="return radioCall(1);" class="mr-5" name="rd-status" type="radio" id="rd-1"><span style="font-size:medium;">@Localizer["Pending"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-2"><input onclick="return radioCall(2);" class="mr-5" name="rd-status" type="radio" id="rd-2"><span style="font-size:medium;">@Localizer["AwaitingAcknowledgement"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-3"><input onclick="return radioCall(3);" class="mr-5" name="rd-status" type="radio" id="rd-3"><span style="font-size:medium;">@Localizer["Completed"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-4"><input onclick="return radioCall(4);" class="mr-5" name="rd-status" type="radio" id="rd-4"><span style="font-size:medium;">@Localizer["Rejected"]</span></label>&nbsp;&nbsp;
                                                            </div>
                                                        </div>

                                                        <div class="table-responsive" id="dvTable-Responsive">
                                                            <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                                <thead class="bg-primary-gradient ms-auto divShadow">
                                                                    <tr>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-2">#</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Date"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreFrom"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreTo"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">@Localizer["Assets"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Status"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">@Localizer["Action"]</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int nCounter = 0;

                                                                        string sInitialDisable = "disabled";
                                                                        string sDisabled = "disabled";

                                                                        if (Model.IsAuthorized)
                                                                            sInitialDisable = "";

                                                                        foreach (var transfer in Model.OutgoingTransfers)
                                                                        {
                                                                            sDisabled = sInitialDisable;
                                                                            if (transfer.TransferStatusId != 1)
                                                                            {
                                                                                sDisabled = "disabled";
                                                                            }

                                                                            nCounter++;
                                                                            <tr>
                                                                                <td>@nCounter</td>
                                                                                <td>@transfer.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                                                                <td>@(_isSomali ? transfer.StoreFromSo : transfer.StoreFrom)</td>
                                                                                <td>@(_isSomali ? transfer.StoreToSo : transfer.StoreTo)</td>
                                                                                <td>@transfer.NumberOfAssets</td>
                                                                                <td>@(_isSomali ? transfer.StatusSo : transfer.Status)</td>
                                                                                <td class="text-muted fs-15 fw-semibold">
                                                                                    <div class="d-flex align-items-stretch">
                                                                                        <a asp-controller="Transfers" asp-action="EditTransfer" asp-route-id="@transfer.Id"
                                                                                           class="btn btn-sm btn-outline-info me-1 @sDisabled" data-bs-toggle="tooltip" data-bs-original-title="@Localizer["EditTransfer"]">
                                                                                            <i class="fe fe-edit"></i>
                                                                                        </a>
                                                                                        <a asp-controller="Transfers" asp-action="PreviewTransfer" asp-route-id="@transfer.Id"
                                                                                           class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-original-title="@Localizer["PreviewTransfer"]">
                                                                                            <i class="fe fe-eye"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <br />
                                                        <a asp-action="CreateTransfer" asp-controller="Transfers" id="btnCreate" class="btn btn-outline-info pt-1"><i class="fe fe-plus-circle"></i>&nbsp;@Localizer["NewTransfer"]</a>
                                                    </div>
                                                    <div class="col-4 col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4>@Localizer["OutgoingTransfersByCategory"]</h4>
                                                            </div>
                                                            <div class="card-body container">
                                                                @* <div id="chartOutgoing"></div> *@
                                                                <div style="width: 70%; margin: auto;">
                                                                    <canvas id="pieChartOutgoing"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane " id="tabIncoming">
                                                <div class="row">
                                                    <div class="col-8 col-sm-8">
                                                        <div class="mb-4">
                                                            <div class="input-group">
                                                                <label class="rdiobox" for="rd-incoming-0"><input onclick="return radioCallIncoming(0);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-0" checked><span style="font-size:medium;">@Localizer["AllTransfers"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-2"><input onclick="return radioCallIncoming(2);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-2"><span style="font-size:medium;">@Localizer["AwaitingAcknowledgement"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-3"><input onclick="return radioCallIncoming(3);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-3"><span style="font-size:medium;">@Localizer["Completed"]</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-4"><input onclick="return radioCallIncoming(4);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-4"><span style="font-size:medium;">@Localizer["Rejected"]</span></label>&nbsp;&nbsp;
                                                            </div>
                                                        </div>

                                                        <div class="table-responsive" id="dvTable-Responsive-Incoming">
                                                            <table id="tblTransfersIncoming" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                                <thead class="bg-primary-gradient ms-auto divShadow">
                                                                    <tr>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-2">#</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Date"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreFrom"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreTo"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">@Localizer["Assets"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Status"]</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">@Localizer["Action"]</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int nCounterIncoming = 0;
                                                                        int spnNew = 0;
                                                                        string sSpnNew = "";
                                                                        foreach (var transfer in Model.IncomingTransfers)
                                                                        {
                                                                            nCounterIncoming++;
                                                                            if (transfer.TransferStatusId == 2)
                                                                            {
                                                                                spnNew++;
                                                                            }
                                                                            <tr>
                                                                                <td>@nCounterIncoming</td>
                                                                                <td>@transfer.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                                                                <td>@(_isSomali ? transfer.StoreFromSo : transfer.StoreFrom)</td>
                                                                                <td>@(_isSomali ? transfer.StoreToSo : transfer.StoreTo)</td>
                                                                                <td>@transfer.NumberOfAssets</td>
                                                                                <td>@(_isSomali ? transfer.StatusSo : transfer.Status)</td>
                                                                                <td class="text-muted fs-15 fw-semibold">
                                                                                    <div class="d-flex align-items-stretch">
                                                                                        <a asp-controller="Transfers" asp-action="PreviewTransfer" asp-route-id="@transfer.Id" class="btn btn-sm btn-outline-primary border me-2" data-bs-toggle="tooltip" data-bs-original-title="@Localizer["PreviewTransfer"]">
                                                                                            <i class="fe fe-eye"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        sSpnNew = spnNew > 0 ? spnNew.ToString() : "";
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 col-sm-4">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4>@Localizer["IncomingTransfersByCategory"]</h4>
                                                            </div>
                                                            <div class="card-body container">
                                                                <div style="width: 70%; margin: auto;">
                                                                    <canvas id="pieChartIncoming"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.7.20/c3.min.css">
@section scripts {

    <script>
        const isSomali = getCurrentLanguage() === 'so';

        $(document).ready(function () {
            hideMenu();
            makeDataTable('#tblTransfers', 1)
            makeDataTable('#tblTransfersIncoming', 1)

            $('.select2').select2();
            $('#StoreId').on("change", () => {
                window.location.href = '/Users/Transfers/Index/' + $("#StoreId").val();
            });
            setRadioButtons();

            $("#spnNew").html('@Html.Raw(sSpnNew)');
            pieChartOutgoing();
            pieChartIncoming();
        });
        const pieChartOutgoing = () => {
            
            var data = '@Html.Raw(Json.Serialize(Model.OutgoingChartData))';
            
            var ctx = document.getElementById('pieChartOutgoing').getContext('2d');

            var labels = @Html.Raw(Json.Serialize(Model.OutgoingChartData.Select(item => item.SubCategoryName)));
            var values = @Html.Raw(Json.Serialize(Model.OutgoingChartData.Select(item => item.TotalAssets)));

            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(20, 99, 132, 0.7)',
                            'rgba(200, 19, 12, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(200, 106, 76, 0.7)',
                            'rgba(115, 211, 56, 0.7)',
                            'rgba(155, 51, 97, 0.7)',
                            // Add more colors as needed
                        ],
                    }],
                },
                options: {
                    plugins: {
                        labels: {
                            render: 'value',
                            fontColor: '#ffffff',
                            formatter: (value, context) => {
                                return context.dataset.data[context.dataIndex];
                            }
                        },
                    }
                }
            });
        }
        const pieChartIncoming = () => {
            var data = '@Html.Raw(Json.Serialize(Model.IncomingChartData))';
            var ctx = document.getElementById('pieChartIncoming').getContext('2d');

            var labels = @Html.Raw(Json.Serialize(Model.IncomingChartData.Select(item => item.SubCategoryName)));
            var values = @Html.Raw(Json.Serialize(Model.IncomingChartData.Select(item => item.TotalAssets)));

            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(20, 99, 132, 0.7)',
                            'rgba(200, 19, 12, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(200, 106, 76, 0.7)',
                            'rgba(115, 211, 56, 0.7)',
                            'rgba(155, 51, 97, 0.7)',
                            // Add more colors as needed
                        ],
                    }],
                },
                options: {
                    plugins: {
                        labels: {
                            render: 'value',
                            fontColor: '#ffffff',
                            formatter: (value, context) => {
                                return context.dataset.data[context.dataIndex];
                            }
                        },
                    }
                }
            });
        }
        const radioCall = (id) => {
            generateTableOutgoing(id);
        }
        const radioCallIncoming = (id) => {
            generateTableIncoming(id);
        }
        const setRadioButtons = (id) => {
            $("#rd-" + id).prop("checked", true);
        }
        const generateTableOutgoing = (id) => {
            const isAuthorized = '@Model.IsAuthorized' === 'True';
            const sInitialDisabled = isAuthorized ? '' : 'disabled';

            const sData = '@Json.Serialize(Model.OutgoingTransfers)'.trim();
            const result = tryParseJson(sData, "OutgoingTransfers");
            
            if (result.status === "error") {
                Notify("error", result.message);
                return;
            }

            const Data = result.data;
            const localizedStrings = {
                date: '@Localizer["Date"]',
                storeFrom: '@Localizer["StoreFrom"]',
                storeTo: '@Localizer["StoreTo"]',
                assets: '@Localizer["Assets"]',
                status: '@Localizer["Status"]',
                action: '@Localizer["Action"]',
                editTransfer: '@Localizer["EditTransfer"]',
                previewTransfer: '@Localizer["PreviewTransfer"]'
            };

            let sHtml = `
                <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                    <thead class="bg-info-gradient ms-auto divShadow">
                        <tr>
                            <th class="text-white bg-transparent border-bottom-0 w-5">#</th>
                            <th class="text-white bg-transparent border-bottom-0 w-10">${localizedStrings.date}</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">${localizedStrings.storeFrom}</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">${localizedStrings.storeTo}</th>
                            <th class="text-white bg-transparent border-bottom-0 w-5">${localizedStrings.assets}</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">${localizedStrings.status}</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">${localizedStrings.action}</th>
                        </tr>
                    </thead>
                    <tbody>`;

            let nCounter = 0;

            const renderRow = (e) => {
                const sDisabled = e.transferStatusId !== 1 ? 'disabled' : sInitialDisabled;
                return `
                    <tr>
                        <td>${++nCounter}</td>
                        <td>${formattedDate(e.transferDate)}</td>
                        <td>${isSomali ? e.storeFromSo : e.storeFrom}</td>
                        <td>${isSomali ? e.storeToSo : e.storeTo}</td>
                        <td>${e.numberOfAssets}</td>
                        <td>${isSomali ? e.statusSo : e.status}</td>
                        <td class="text-muted fs-15 fw-semibold">
                            <div class="d-flex align-items-stretch">
                                <a href="/Users/Transfers/EditTransfer/${e.id}"
                                   class="btn btn-sm btn-outline-info me-1 ${sDisabled}"
                                   data-bs-toggle="tooltip"
                                   data-bs-original-title="${localizedStrings.editTransfer}">
                                    <i class="fe fe-edit"></i>
                                </a>
                                <a href="/Users/Transfers/PreviewTransfer/${e.id}"
                                   class="btn btn-sm btn-outline-primary me-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-original-title="${localizedStrings.previewTransfer}">
                                    <i class="fe fe-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>`;
            };

            Data.forEach(e => {
                if (id === 0 || e.transferStatusId === id) {
                    sHtml += renderRow(e);
                }
            });

            sHtml += '</tbody></table>';

            $("#dvTable-Responsive").html(sHtml);
            makeDataTable('#tblTransfers', 1);
            setRadioButtons(id);
        };
        const generateTableIncoming = (id) => {
            const sData = '@Json.Serialize(Model.IncomingTransfers)'.trim();
            const result = tryParseJson(sData, "IncomingTransfers");
            
            if (result.status === "error") {
                Notify("error", result.message);
                return;
            }
            const Data = result.data;
            
            let sHtml = `
                <table id="tblTransfersIncoming" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                    <thead class="bg-info-gradient ms-auto divShadow">
                        <tr>
                            <th class="text-white bg-transparent border-bottom-0 w-5">#</th>
                            <th class="text-white bg-transparent border-bottom-0 w-10">@Localizer["Date"]</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreFrom"]</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["StoreTo"]</th>
                            <th class="text-white bg-transparent border-bottom-0 w-5">@Localizer["Assets"]</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20">@Localizer["Status"]</th>
                            <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">@Localizer["Action"]</th>
                        </tr>
                    </thead>
                    <tbody>`;

            let nCounter = 0;

            const renderRow = (e) => {
                return `
                    <tr>
                        <td>${++nCounter}</td>
                        <td>${formattedDate(e.transferDate)}</td>
                        <td>${isSomali ? e.storeFromSo : e.storeFrom}</td>
                        <td>${isSomali ? e.storeToSo : e.storeTo}</td>
                        <td>${e.numberOfAssets}</td>
                        <td>${isSomali ? e.statusSo : e.status}</td>
                        <td class="text-muted fs-15 fw-semibold">
                            <div class="d-flex align-items-stretch">
                                <a href="/Users/Transfers/PreviewTransfer/${e.id}"
                                   class="btn btn-sm btn-outline-primary border me-2"
                                   data-bs-toggle="tooltip"
                                   data-bs-original-title="@Localizer["PreviewTransfer"]">
                                    <i class="fe fe-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>`;
            };

            Data.forEach((e) => {
                if (id === 0 || e.transferStatusId === id) {
                    sHtml += renderRow(e);
                }
            });

            sHtml += '</tbody></table>';

            $("#dvTable-Responsive-Incoming").html(sHtml);
            makeDataTable('#tblTransfersIncoming', 1);
            setRadioButtons(id);
        };

    </script>
}