@model MODAMS.Models.ViewModels.Dto.dtoTransfer


<div class="page-header">
    <div>
        <h1 class="page-title">Asset Transfers</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfers</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                @{
                    bool readOnly = (User.IsInRole("User") || User.IsInRole("StoreOwner")) ? true : false;

                    if (readOnly)
                    {
                        <select asp-for="StoreId" asp-items="@Model.StoreList"
                                class="form-control select2 form-select" disabled>
                        </select>
                    }
                    else
                    {
                        <select asp-for="StoreId" asp-items="@Model.StoreList"
                                class="form-control select2 form-select">
                        </select>
                    }
                }
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card divShadow">
                                            <div class="card-body">
                                                <a asp-area="Users" asp-controller="Transfers" asp-action="TransferredAssets" asp-route-id="@Model.StoreId">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h6>Assets Transferred</h6>
                                                            <span>Count: </span><span class="text-bold">@Model.TotalTransferCount(Model.StoreId)</span><br />
                                                            <span>Value: </span><span class="text-bold"> $@Model.TotalTransferValue.ToString("n2")</span>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-secondary-gradient text-white ms-auto">
                                                                <i class="fe fe-arrow-up"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card divShadow">
                                            <div class="card-body">
                                                <a asp-area="Users" asp-controller="Transfers" asp-action="ReceivedAssets" asp-route-id="@Model.StoreId">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h6>Assets Received</h6>
                                                            <span>Count: </span><span class="text-bold"> @Model.TotalReceivedCount(Model.StoreId)</span><br />
                                                            <span>Value: </span><span class="text-bold"> $@Model.TotalReceivedValue.ToString("n2")</span>
                                                        </div>
                                                        <div class="col-5">
                                                            <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-primary-gradient text-white ms-auto">
                                                                <i class="fe fe-arrow-down"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-md-3">
                                    <div class="card divShadow">
                                    <div class="card-body">
                                    <div class="row">
                                    <div class="col-8">
                                    <h6>Awaiting Acknowledgement</h6>
                                    <span> Count: </span><span class="text-bold"> 2</span><br />
                                    <span> Value: </span><span class="text-bold"> $22,908.00</span>
                                    </div>
                                    <div class="col-4">
                                    <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-info-gradient text-white ms-auto">
                                    <i class="fe fe-check"></i>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                    <div class="card divShadow">
                                    <div class="card-body">
                                    <div class="row">
                                    <div class="col-8">
                                    <h6>Requires Attention</h6>
                                    <span> Count: </span><span class="text-bold"> 2</span><br />
                                    <span> Value: </span><span class="text-bold"> $92,225.00</span>
                                    </div>
                                    <div class="col-4">
                                    <div class="hpx-50 wpx-50 br-5 d-flex align-items-center justify-content-center bg-info-gradient text-white ms-auto">
                                    <i class="fe fe-check"></i>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div> *@
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="panel panel-primary tab-style-underline">
                                    <div class=" tab-menu-heading border-bottom-0">
                                        <div class="tabs-menu1 ">
                                            <!-- Tabs -->
                                            <ul class="nav panel-tabs">
                                                <li><a href="#tabOutgoing" class="active me-1 text-default my-1" data-bs-toggle="tab">Outgoing Transfers</a></li>
                                                <li>
                                                    <a href="#tabIncoming" data-bs-toggle="tab" class="me-1 text-default my-1">Incoming Transfers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body tabs-menu-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active " id="tabOutgoing">
                                                <div class="row">
                                                    <div class="col-7 col-sm-7">
                                                        <div class="mb-4">
                                                            <div class="input-group">
                                                                <label class="rdiobox" for="rd-0"><input onclick="return radioCall(0);" class="mr-5" name="rd-status" type="radio" id="rd-0" checked><span style="font-size:medium;">All Transfers</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-1"><input onclick="return radioCall(1);" class="mr-5" name="rd-status" type="radio" id="rd-1"><span style="font-size:medium;">Pending</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-2"><input onclick="return radioCall(2);" class="mr-5" name="rd-status" type="radio" id="rd-2"><span style="font-size:medium;">Awaiting Acknowledgement</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-3"><input onclick="return radioCall(3);" class="mr-5" name="rd-status" type="radio" id="rd-3"><span style="font-size:medium;">Completed</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-4"><input onclick="return radioCall(4);" class="mr-5" name="rd-status" type="radio" id="rd-4"><span style="font-size:medium;">Rejected</span></label>&nbsp;&nbsp;
                                                            </div>
                                                        </div>

                                                        <div class="table-responsive" id="dvTable-Responsive">
                                                            <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                                <thead class="bg-primary-gradient ms-auto divShadow">
                                                                    <tr>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">S.No</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-10">Date</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Store From</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Store To</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">Assets</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Status</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int nCounter = 0;

                                                                        string sInitialDisable = "disabled";
                                                                        string sDisabled = "disabled";

                                                                        if (Model.IsAuthorized)
                                                                            sInitialDisable = "";

                                                                        foreach (var transfer in Model.OutgoingTransfers)
                                                                        {
                                                                            sDisabled = sInitialDisable;
                                                                            if (transfer.TransferStatusId != 1)
                                                                            {
                                                                                sDisabled = "disabled";
                                                                            }

                                                                            nCounter++;
                                                                            <tr>
                                                                                <td>@nCounter</td>
                                                                                <td>@transfer.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                                                                <td>@transfer.StoreFrom</td>
                                                                                <td>@transfer.StoreTo</td>
                                                                                <td>@transfer.NumberOfAssets</td>
                                                                                <td>@transfer.Status</td>
                                                                                <td>
                                                                                    <a asp-controller="Transfers" asp-action="EditTransfer" asp-route-id="@transfer.Id" class="btn btn-sm btn-outline-primary border me-2 @sDisabled" data-bs-toggle="tooltip" data-bs-original-title="Edit Transfer">
                                                                                        <i class="fe fe-edit"></i>
                                                                                    </a>
                                                                                    <a asp-controller="Transfers" asp-action="PreviewTransfer" asp-route-id="@transfer.Id" class="btn btn-sm btn-outline-primary border me-2" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                                        <i class="fe fe-eye"></i>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 col-sm-5">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4>Outgoing Transfers by Category</h4>
                                                            </div>
                                                            <div class="card-body container">
                                                                @* <div id="chartOutgoing"></div> *@
                                                                <div style="width: 70%; margin: auto;">
                                                                    <canvas id="pieChartOutgoing"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <a asp-action="CreateTransfer" asp-controller="Transfers" id="btnCreate" class="btn btn-outline-primary pt-1"><i class="fe fe-plus-circle"></i>&nbsp;New Transfer</a>
                                            </div>
                                            <div class="tab-pane " id="tabIncoming">
                                                <div class="row">
                                                    <div class="col-7 col-sm-7">
                                                        <div class="mb-4">
                                                            <div class="input-group">
                                                                <label class="rdiobox" for="rd-incoming-0"><input onclick="return radioCallIncoming(0);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-0" checked><span style="font-size:medium;">All Transfers</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-2"><input onclick="return radioCallIncoming(2);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-2"><span style="font-size:medium;">Awaiting Acknowledgement</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-3"><input onclick="return radioCallIncoming(3);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-3"><span style="font-size:medium;">Completed</span></label>&nbsp;&nbsp;
                                                                <label class="rdiobox" for="rd-incoming-4"><input onclick="return radioCallIncoming(4);" class="mr-5" name="rd-status-incoming" type="radio" id="rd-incoming-4"><span style="font-size:medium;">Rejected</span></label>&nbsp;&nbsp;
                                                            </div>
                                                        </div>

                                                        <div class="table-responsive" id="dvTable-Responsive-Incoming">
                                                            <table id="tblTransfersIncoming" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                                <thead class="bg-primary-gradient ms-auto divShadow">
                                                                    <tr>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">S.No</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-10">Date</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Store From</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Store To</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-5">Assets</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20">Status</th>
                                                                        <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{
                                                                        int nCounterIncoming = 0;

                                                                        foreach (var transfer in Model.IncomingTransfers)
                                                                        {
                                                                            nCounterIncoming++;
                                                                            <tr>
                                                                                <td>@nCounterIncoming</td>
                                                                                <td>@transfer.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                                                                <td>@transfer.StoreFrom</td>
                                                                                <td>@transfer.StoreTo</td>
                                                                                <td>@transfer.NumberOfAssets</td>
                                                                                <td>@transfer.Status</td>
                                                                                <td>
                                                                                    <a asp-controller="Transfers" asp-action="PreviewTransfer" asp-route-id="@transfer.Id" class="btn btn-sm btn-outline-primary border me-2" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                                        <i class="fe fe-eye"></i>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 col-sm-5">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h4>Incoming Transfers By Category</h4>
                                                            </div>
                                                            <div class="card-body container">
                                                                <div style="width: 70%; margin: auto;">
                                                                    <canvas id="pieChartIncoming"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Home" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.7.20/c3.min.css">
@section scripts {

    @* <script src="~/assets/plugins/c3-0.7.20/c3.min.js"></script>
    <script src="~/assets/plugins/c3-0.7.20/d3-5.8.2.min.js"></script>
 *@


    <!-- PROJECT-LIST JS-->
    @*<script src="~/assets/js/project-list.js"></script>*@
    <script>
        $(document).ready(function () {
            //$("#hideMenu").click();

            makeDataTable('#tblTransfers', 1)
            makeDataTable('#tblTransfersIncoming', 1)

            $('.select2').select2();

            $('#StoreId').on("change", () => {
                window.location.href = '/Users/Transfers/Index/' + $("#StoreId").val();
            });
            //setRadioButtons();


            pieChartOutgoing();
            pieChartIncoming();
        });

        const pieChartOutgoing = () => {
            var data = '@Html.Raw(Json.Serialize(Model.OutgoingChartData))';
            var ctx = document.getElementById('pieChartOutgoing').getContext('2d');

            var labels = @Html.Raw(Json.Serialize(Model.OutgoingChartData.Select(item => item.SubCategoryName)));
            var values = @Html.Raw(Json.Serialize(Model.OutgoingChartData.Select(item => item.TotalAssets)));

            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(20, 99, 132, 0.7)',
                            'rgba(200, 19, 12, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(200, 106, 76, 0.7)',
                            'rgba(115, 211, 56, 0.7)',
                            'rgba(155, 51, 97, 0.7)',
                            // Add more colors as needed
                        ],
                    }],
                },
                options: {
                    plugins: {
                        datalabels: {
                            color: 'white',
                            formatter: (value, context) => {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value;
                            }
                        }
                    }
                }
            });
        }

        const pieChartIncoming = () => {
            var data = '@Html.Raw(Json.Serialize(Model.IncomingChartData))';
            var ctx = document.getElementById('pieChartIncoming').getContext('2d');

            var labels = @Html.Raw(Json.Serialize(Model.IncomingChartData.Select(item => item.SubCategoryName)));
            var values = @Html.Raw(Json.Serialize(Model.IncomingChartData.Select(item => item.TotalAssets)));

            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: [
                            'rgba(20, 99, 132, 0.7)',
                            'rgba(200, 19, 12, 0.7)',
                            'rgba(54, 162, 235, 0.7)',
                            'rgba(255, 206, 86, 0.7)',
                            'rgba(200, 106, 76, 0.7)',
                            'rgba(115, 211, 56, 0.7)',
                            'rgba(155, 51, 97, 0.7)',
                            // Add more colors as needed
                        ],
                    }],
                },
                options: {
                    plugins: {
                        datalabels: {
                            color: 'white',
                            formatter: (value, context) => {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value;
                            }
                        }
                    }
                }
            });
        }

        // function toggle(id) {
        //     chart.toggle(id);
        // }

        const radioCall = (id) => {
            generateTableOutoing(id);
        }

        const radioCallIncoming = (id) => {
            generateTableIncoming(id);
        }

        const setRadioButtons = (id) => {
            //let transferStatusId = '@TempData["transferStatus"]';
            $("#rd-" + id).prop("checked", true);
        }

        const generateTableOutoing = (id) => {

            var sInitialDisabled = "";
            var sDisabled = "";
            if ('@Model.IsAuthorized' == "False")
                sInitialDisabled = "disabled"

            var sData = '@Json.Serialize(Model.OutgoingTransfers)';
            var Data = JSON.parse(sData);
            var sHtml = `<table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                            <thead class="bg-primary-gradient ms-auto divShadow">
                                                                <tr>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-5">S.No</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-10">Date</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Store From</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Store To</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-5">Number of Assets</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Status</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>`;
            var nCounter = 0;
            Data.forEach(function (e) {
                nCounter++;

                sDisabled = sInitialDisabled;
                if (e.transferStatusId != 1) {
                    sDisabled = "disabled";
                }

                if (id > 0) {
                    if (e.transferStatusId == id) {
                        sHtml += `<tr>
                                                            <td>`+ nCounter + `</td>
                                                            <td>`+ formattedDate(e.transferDate) + `</td>
                                                            <td>`+ e.storeFrom + `</td>
                                                            <td>`+ e.storeTo + `</td>
                                                            <td>`+ e.numberOfAssets + `</td>
                                                            <td>`+ e.status + `</td>
                                                            <td>
                                                                <a href="/Users/Transfers/EditTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2 ` + sDisabled + ` " data-bs-toggle="tooltip" data-bs-original-title="Edit Transfer">
                                                                    <i class="fe fe-edit"></i>
                                                                </a>
                                                                        <a href="/Users/Transfers/PreviewTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                    <i class="fe fe-eye"></i>
                                                                </a>
                                                            </td>
                                                        </tr>`;
                    }
                } else {
                    sHtml += `<tr>
                                                                <td>`+ nCounter + `</td>
                                                                <td>`+ formattedDate(e.transferDate) + `</td>
                                                                <td>`+ e.storeFrom + `</td>
                                                                <td>`+ e.storeTo + `</td>
                                                                <td>`+ e.numberOfAssets + `</td>
                                                                <td>`+ e.status + `</td>
                                                                <td>
                                                                    <a ` + sDisabled + ` href="/Users/Transfers/EditTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2 ` + sDisabled + `" data-bs-toggle="tooltip" data-bs-original-title="Edit Transfer">
                                                                        <i class="fe fe-edit"></i>
                                                                    </a>
                                                                    <a href="/Users/Transfers/PreviewTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                        <i class="fe fe-eye"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>`;
                }
            });

            sHtml += '</tbody></table>';
            $("#dvTable-Responsive").html("").html(sHtml);
            makeDataTable('#tblTransfers', 1);
            setRadioButtons(id);
        }
        const generateTableIncoming = (id) => {

            var sDisabled = "";

            var sData = '@Json.Serialize(Model.IncomingTransfers)';
            var Data = JSON.parse(sData);
            var sHtml = `<table id="tblTransfersIncoming" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                                                            <thead class="bg-primary-gradient ms-auto divShadow">
                                                                <tr>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-5">S.No</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-10">Date</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Store From</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Store To</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-5">Number of Assets</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20">Status</th>
                                                                    <th class="text-white bg-transparent border-bottom-0 w-20 no-btn">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>`;
            var nCounter = 0;
            Data.forEach(function (e) {
                nCounter++;
                if (id > 0) {
                    if (e.transferStatusId == id) {
                        sHtml += `<tr>
                                                                    <td>`+ nCounter + `</td>
                                                                    <td>`+ formattedDate(e.transferDate) + `</td>
                                                                    <td>`+ e.storeFrom + `</td>
                                                                    <td>`+ e.storeTo + `</td>
                                                                    <td>`+ e.numberOfAssets + `</td>
                                                                    <td>`+ e.status + `</td>
                                                                    <td>
                                                                        <a href="/Users/Transfers/PreviewTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2 ` + sDisabled + `" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                            <i class="fe fe-eye"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>`;
                    }
                } else {
                    sHtml += `<tr>
                                                                <td>`+ nCounter + `</td>
                                                                <td>`+ formattedDate(e.transferDate) + `</td>
                                                                <td>`+ e.storeFrom + `</td>
                                                                <td>`+ e.storeTo + `</td>
                                                                <td>`+ e.numberOfAssets + `</td>
                                                                <td>`+ e.status + `</td>
                                                                <td>
                                                                    <a href="/Users/Transfers/PreviewTransfer/` + e.id + `" class="btn btn-sm btn-outline-primary border me-2 ` + sDisabled + `" data-bs-toggle="tooltip" data-bs-original-title="Preview Transfer">
                                                                        <i class="fe fe-eye"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>`;
                }
            });

            sHtml += '</tbody></table>';
            $("#dvTable-Responsive-Incoming").html("").html(sHtml);
            makeDataTable('#tblTransfersIncoming', 1);
            setRadioButtons(id);
        }

    </script>
}