@model MODAMS.Models.ViewModels.Dto.TransferPreviewDTO
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using MODAMS.Utility
@using System.Globalization

@{
    ViewData["TourPageKey"] = "Transfers/PreviewTransfer";
}

@{
    bool _isSomali = CultureInfo.CurrentCulture.Name == "so" ? true : false;
}
<style>
    .table-bordered tr {
        height: 30px; /* Set the desired height */
    }
</style>
<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-align {
        display: flex;
        justify-content: left;
    }

    .right-align {
        display: flex;
        justify-content: right;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

</style>
<style type="text/css">
    .barcode {
        width: 200px;
        height: 50px;
    }
</style>
<style>
    .barcode-container {
        text-align: center;
    }

    .barcode-text {
        margin-bottom: 5px;
    }
</style>
<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["AssetTransfers"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Transfers" asp-action="Index">@Localizer["Transfers"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["PreviewTransfer"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-align bordered-div">
                            <table class="w-100">
                                <tr>
                                    <td class="center-align pt-2"><img src="~/assets/images/brand/FGS_Small4.png" /></td>
                                </tr>
                                <tr>
                                    <td class="center-align">
                                        <h4><b>Asset Management System</b></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center-align">
                                        <h5>@Localizer["TransferVoucher"]</h5>
                                    </td>
                                </tr>
                                <tr><td class="align-center w-100"><hr class="customHR w-100" /></td></tr>
                                <tr>
                                    <td>
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="w-100">
                                                    <tr>
                                                        <td>@Localizer["TransferNumber"]: <b>@Model.vwTransfer.TransferNumber</b></td>
                                                        <td><span class="text-bold"></span></td>
                                                        <td style="text-align: right;">@Localizer["TransferDate"]: <b>@Model.vwTransfer.TransferDate?.ToString("dd-MMM-yyyy")</b></td>
                                                    </tr>
                                                </table>
                                                <br /><br /><br /><br /><br />
                                                <table class="w-100 table-bordered">
                                                    <tr>
                                                        <td>@Localizer["StoreFrom"]:&nbsp;<b>@(_isSomali ? Model.vwTransfer.StoreFromSo : Model.vwTransfer.StoreFrom)</b></td>
                                                        <td>@Localizer["StoreTo"]:&nbsp;<b>@(_isSomali ? Model.vwTransfer.StoreToSo : Model.vwTransfer.StoreTo)</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>@Localizer["Assets"]:&nbsp;<b>@Model.vwTransfer.NumberOfAssets</b></td>
                                                        @{
                                                            var sTransferStatus = _isSomali ? Model.vwTransfer.StatusSo : Model.vwTransfer.Status;
                                                            string sStatus =
                                                            Model.vwTransfer.Status == "Rejected" ? "<span class=\"text-danger\">" + sTransferStatus + "</span>" : "<span class=\"text-success\">" + sTransferStatus + "</span>";

                                                        }
                                                        <td>@Localizer["Status"]:&nbsp;<b>@Html.Raw(sStatus)</b></td>
                                                    </tr>
                                                </table>
                                                <table class="table table-bordered w-100">
                                                    <thead>
                                                        <tr>
                                                            <th>@Localizer["SNo"]</th>
                                                            <th>@Localizer["Category"]</th>
                                                            <th>@Localizer["Make"] </th>
                                                            <th>@Localizer["Model"] </th>
                                                            <th>@Localizer["AssetName"]</th>
                                                            <th>@Localizer["Identification"]</th>
                                                            <th>@Localizer["Condition"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            int nCounter = 0;
                                                            string sCounter = "0";

                                                            foreach (var asset in Model.transferAssets)
                                                            {
                                                                nCounter++;
                                                                sCounter = (nCounter < 10) ? "0" + nCounter.ToString() + "." : nCounter.ToString() + ".";
                                                                <tr>
                                                                    <td>@sCounter</td>
                                                                    <td>@asset.SubCategory</td>
                                                                    <td>@asset.Make</td>
                                                                    <td>@asset.Model</td>
                                                                    <td>@asset.AssetName</td>
                                                                    <td>@asset.SerialNumber</td>
                                                                    <td>@asset.Condition</td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                                <br /><br /><br /><br /><br /><br /><br /><br /><br />
                                                <div class="flex w-100 center-align" style="margin-left:50px;">
                                                    <div class="flex w-100">
                                                        <div class="float-start left-align">
                                                            @{
                                                                if (Model.vwTransfer.TransferStatusId > SD.Transfer_Pending)
                                                                {
                                                                    <div class="barcode-container">
                                                                        <div class="barcode-text">@Localizer["TransferBy"]</div>
                                                                        <span style="font-family: Freestyle Script; font-size: 25pt;">
                                                                            @Model.vwTransfer.SenderBarcode
                                                                        </span>
                                                                        <div class="barcode-text">
                                                                            @Model.vwTransfer.SubmissionforAcknowledgementDate?.ToString("D")
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="float-end left-align" style="margin-right:160px;">
                                                            @{
                                                                if (Model.vwTransfer.TransferStatusId > SD.Transfer_SubmittedForAcknowledgement)
                                                                {
                                                                    <div class="barcode-container">
                                                                        @{
                                                                            var barcodeText = Localizer["ReceivedBy"];
                                                                            var sClass = "";
                                                                            if (Model.vwTransfer.TransferStatusId == SD.Transfer_Rejected)
                                                                                sClass = "text-danger";
                                                                        }

                                                                        <div class="barcode-text @sClass">@barcodeText</div>
                                                                        <span class="@sClass" style="font-family: Freestyle Script; font-size: 25pt;">
                                                                            @Model.vwTransfer.ReceiverBarcode
                                                                        </span>
                                                                        <div class="barcode-text @sClass">@Model.vwTransfer.AcknowledgementDate?.ToString("D")</div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <br /><br /><br /><br /><br /><br /><br /><br />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Transfers" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Raw(@"
<style>
    .btn-floating {
        position: fixed;
        top: 150px; /* Position from the top of the viewport */
        right: 5px; /* Position from the right of the viewport */
        z-index: 1050; /* Ensure it appears above other elements */
        padding: 3px 5px;
        font-size: 14px;
        border-radius: 0%; /* Make the button circular */
        background-color: rgba(0, 123, 255, 0.3); /* More transparent blue */
        color: white;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s;
    }

        .btn-floating i {
            margin-right: 5px;
        }

        .btn-floating:hover {
            background-color: rgba(0, 86, 179, 0.5);
            transform: scale(1.1);
        }

    #offcanvasActions {
        width: 500px;
    }

    @media (max-width: 767.98px) {
        #offcanvasActions {
            width: 100%;
        }
</style>")
<button id="actionButton" class="btn btn-primary btn-floating" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasActions" aria-controls="offcanvasActions">
    <i class="fa fa-cogs"></i> @Localizer["Actions"]
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasActions" aria-labelledby="offcanvasActionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasActionsLabel">@Localizer["Actions"]</h5>
        <button id="closeOffcanvasButton" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="card">
            <div class="card" id="divAction">
                <div class="card-body divShadow center-align" id="dvAction">
                    @{
                        if (Model.vwTransfer.TransferStatusId == SD.Transfer_Pending)
                        {
                            if (Model.IsSender)
                            {
                                <form method="post" asp-action="SubmitForAcknowledgement" id="frmSubmitForAcknowledgement">
                                    <input type="hidden" name="id" value="@Model.vwTransfer.Id" />
                                    <button type="submit" class="btn btn-info-gradient " id="btnSubmitTransfer">
                                        <i class="fa fa-check-circle"></i><span class="loading">&nbsp;@Localizer["SubmitForAcknowledgement"]</span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                @Html.Raw($"<span id=\"spnAction\">")@Localizer["NoActionRequired"] @Html.Raw("</span>")
                            }
                        }
                        else if (Model.vwTransfer.TransferStatusId == SD.Transfer_SubmittedForAcknowledgement)
                        {
                            if (Model.IsReceiver)
                            {
                                <form method="post" asp-action="AcknowledgeTransfer" id="frmAcknowledgeTransfer">
                                    <input type="hidden" name="id" value="@Model.vwTransfer.Id" />
                                    <button type="submit" class="btn btn-info-gradient" id="btnAcknowledgeTransfer">
                                        <i class="fa fa-check-circle"></i><span class="loading">&nbsp;@Localizer["AcknowledgeTransfer"]</span>
                                    </button>
                                </form>
                                @Html.Raw("&nbsp;&nbsp;")
                                <form method="post" asp-action="RejectTransfer" id="frmRejectTransfer">
                                    <input type="hidden" name="id" value="@Model.vwTransfer.Id" />
                                    <button type="submit" class="btn btn-secondary-gradient" id="btnRejectTransfer">
                                        <i class="fa fa-close"></i><span class="loading">&nbsp;@Localizer["RejectTransfer"]</span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                @Html.Raw($"<span id=\"spnAction\">")@Localizer["NoActionRequired"] @Html.Raw("</span>")
                            }
                        }
                        else
                        {
                            @Html.Raw($"<span id=\"spnAction\">")@Localizer["NoActionRequired"] @Html.Raw("</span>")
                        }
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-body divShadow center-align">
                    @{
                        <form method="post" target="_blank" asp-action="PrintVoucher" id="frmPrintVoucher">
                            <input type="hidden" name="id" value="@Model.vwTransfer.Id" />
                            <button type="submit" class="btn btn-gray" id="btnPrintVoucher">
                                <i class="fa fa-print"></i>&nbsp;<span class="loading">&nbsp;@Localizer["PrintTransferVoucher"]</span>
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            hideMenu();
            $('#btnPrintVoucher').on('click', e => {
                e.preventDefault(); // Prevent the default form submission

                // Calculate screen dimensions
                var width = screen.availWidth;
                var height = screen.availHeight;

                // Open a new window without window controls and set it to the screen size
                var newWindow = window.open("", "PrintWindow", `toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,directories=no,status=no,width=${width},height=${height}`);

                //move window to top-left of the screen
                newWindow.moveTo(0, 0);

                // Set the form's target to the new window
                $('#frmPrintVoucher').attr('target', 'PrintWindow');

                // Submit the form
                $('#frmPrintVoucher').submit();
            });

            checkForAction();

            $('#btnSubmitTransfer').on('click', e => {
                //e.preventDefault();
                $("#btnSubmitTransfer").addClass("btn-loading btn-icon disabled");
            });
            $("#btnAcknowledgeTransfer").on("click", (e) => {
                //e.preventDefault();
                $("#btnAcknowledgeTransfer").addClass("btn-loading btn-icon disabled");
            });
            $("#btnRejectTransfer").on("click", (e) => {
                //e.preventDefault();
                $("#btnRejectTransfer").addClass("btn-loading btn-icon disabled");
            });

            // When the offcanvas is opened
            $('#offcanvasActions').on('show.bs.offcanvas', function () {
                $('#actionButton').hide(); // Hide the action button
            });

            // When the offcanvas is closed
            $('#offcanvasActions').on('hidden.bs.offcanvas', function () {
                $('#actionButton').show(); // Show the action button again
            });

            // Close the offcanvas when the close button inside the offcanvas is clicked
            $('#closeOffcanvasButton').on('click', function () {
                $('#offcanvasActions').offcanvas('hide');
            });

        });

        const checkForAction = () => {
            if ($('#spnAction').html() == "No action required")
                $("#divAction").hide();
        }
    </script>
}