@model List<MODAMS.Models.ViewModels.Dto.TransfersIncomingAssetDTO>
<div class="page-header">
    <div>
        <h1 class="page-title">Received Assets</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Transfers" asp-action="Index">Transfers</a></li>
            <li class="breadcrumb-item active" aria-current="page">Received Assets</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" id="dvTable-Responsive">
                    <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                        <thead class="bg-primary-gradient ms-auto divShadow">
                            <tr>
                                <th class="text-white bg-transparent border-bottom-0 w-5">S.No</th>
                                <th class="text-white bg-transparent border-bottom-0">Transfer Date</th>
                                <th class="text-white bg-transparent border-bottom-0">Store From</th>
                                <th class="text-white bg-transparent border-bottom-0">Sub Category</th>
                                <th class="text-white bg-transparent border-bottom-0">Make</th>
                                <th class="text-white bg-transparent border-bottom-0">Model</th>
                                <th class="text-white bg-transparent border-bottom-0">Asset Name</th>
                                <th class="text-white bg-transparent border-bottom-0">Barcode</th>
                                <th class="text-white bg-transparent border-bottom-0">Serial Number</th>
                                <th class="text-white bg-transparent border-bottom-0">Cost</th>
                                <th class="text-white bg-transparent border-bottom-0">Current Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int nCounter = 0;
                                foreach (var ot in Model)
                                {
                                    nCounter++;
                                    string sCounter = (nCounter < 10) ? "0" + nCounter : nCounter.ToString();

                                    <tr>
                                        <td>@sCounter</td>
                                        <td>@ot.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                        <td>@ot.StoreFrom</td>
                                        <td>@ot.SubCategory</td>
                                        <td>@ot.Make</td>
                                        <td>@ot.Model</td>
                                        <td>@ot.AssetName</td>
                                        <td>@ot.Barcode</td>
                                        <td>@ot.SerialNumber</td>
                                        <td>@ot.Cost.ToString("n2")</td>
                                        <td>@ot.CurrentValue.ToString("n2")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Transfers" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;Previous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            hideMenu();
            makeDataTable('#tblTransfers', "2");
        });
    </script>
}