@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@model List<MODAMS.Models.ViewModels.Dto.TransfersOutgoingAssetDTO>

@{
    ViewData["TourPageKey"] = "Transfers/TransferredAssets";
}

<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["TransferredAssets"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Transfers" asp-action="Index">@Localizer["Transfers"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["TransferredAssets"]</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive" id="dvTable-Responsive">
                    <table id="tblTransfers" class="table text-nowrap mb-0 table-bordered border-top border-bottom project-list-main">
                        <thead class="bg-primary-gradient ms-auto divShadow">
                            <tr>
                                <th class="text-white text-center bg-transparent border-bottom-0 w-5">@Localizer["SNo"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["TransferDate"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["StoreTo"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["SubCategory"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["Make"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["Model"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["AssetName"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["Barcode"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["SerialNo"]</th>
                                <th class="text-white bg-transparent border-bottom-0">@Localizer["Cost"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int nCounter = 0;
                                foreach (var ot in Model)
                                {
                                    nCounter++;
                                    string sCounter = (nCounter < 10) ? "0" + nCounter : nCounter.ToString();

                                    <tr>
                                        <td class="text-muted text-center fs-15 fw-semibold">@sCounter</td>
                                        <td class="text-muted text-center fs-15 fw-semibold">@ot.TransferDate?.ToString("dd-MMM-yyyy")</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.StoreTo</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.SubCategory</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.Make</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.Model</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.AssetName</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.Barcode</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.SerialNumber</td>
                                        <td class="text-muted fs-15 fw-semibold">@ot.Cost.ToString("n2")</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    @*<hr class="customHR" />*@
                    <div class="col-sm-12">
                        <a asp-action="Index" asp-controller="Transfers" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_DatatablesAssets" />
    <script src="~/js/pages/users/transfers/transfers-transferredassets.js"></script>
}