@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer Localizer

@model MODAMS.Models.ViewModels.Dto.VerificationScheduleCreateDTO

<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

</style>
<style>
    .custom-spacing {
        display: flex;
        align-items: center;
        gap: 0; /* No gap between columns */
    }

        .custom-spacing .form-group {
            margin-bottom: 0;
        }

        .custom-spacing .col-md-7,
        .custom-spacing .col-md-4,
        .custom-spacing .col-md-1 {
            padding-left: 2px; /* Small padding */
            padding-right: 2px; /* Small padding */
        }

    .btn-add-record {
        height: 30px; /* Match height to the select elements */
        padding: 5px 10px;
    }
</style>
@{
    bool _isSomali = CultureInfo.CurrentUICulture.Name == "so";
}
<div class="page-header">
    <div>
        <h1 class="page-title">@Localizer["AssetVerificationSchedule"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Verifications" asp-action="Index">@Localizer["Verifications"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["CreateSchedule"]</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="card divShadow">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="m-0 text-black">@Localizer["CreateNewSchedule"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                    <div class="card-body">
                                        <form method="post" asp-action="CreateSchedule" id="frmCreateSchedule" novalidate="novalidate">
                                            <input type="hidden" id="teamMembersData" name="teamMembersData" />
                                            <input type="hidden" id="NewSchedule.StoreId" name="NewSchedule_StoreId" />
                                            <input asp-for="NewSchedule.StoreId" value="@Model.StoreId" hidden />

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group">
                                                        <label class="text-black">@Localizer["Department"]</label>
                                                        <input type="text" value="@(_isSomali? Model.Store.Department.NameSo:Model.Store.Department.Name)" disabled class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group">
                                                        <label asp-for="NewSchedule.VerificationType" class="text-black"></label>
                                                        <select asp-for="NewSchedule.VerificationType" class="form-select select2" id="verificationTypeDropdown">
                                                            <option value="Full Verification">@Localizer["FullVerification"]</option>
                                                            <option value="Custom Verification">@Localizer["CustomVerification"]</option>
                                                        </select>
                                                        <span asp-validation-for="NewSchedule.VerificationType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group">
                                                        <label class="text-black">@Localizer["NumberOfAssetsInStore"]</label>
                                                        <input id="NumberOfAssets" class="form-control" type="text" value="@Model.NumberOfAssets" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group">
                                                        <label asp-for="NewSchedule.NumberOfAssetsToVerify" class="text-black"></label>
                                                        <input asp-for="NewSchedule.NumberOfAssetsToVerify" value="@Model.NumberOfAssets" id="NumberOfAssetsToVerify" class="form-control" readonly />
                                                        <span asp-validation-for="NewSchedule.NumberOfAssetsToVerify" class="text-danger" id="spanNumberOfAssetsToVerify"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group">
                                                        <label asp-for="NewSchedule.StartDate" class="text-black"></label>
                                                        <input asp-for="NewSchedule.StartDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                        <span asp-validation-for="NewSchedule.StartDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mb-3 form-group">
                                                        <label asp-for="NewSchedule.EndDate" class="text-black"></label>
                                                        <input asp-for="NewSchedule.EndDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                        <span asp-validation-for="NewSchedule.EndDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3 form-group mt-2">
                                                        <label asp-for="NewSchedule.Notes" class="text-black"></label>
                                                        <textarea asp-for="NewSchedule.Notes" class="form-control" rows="3"></textarea>
                                                        <span asp-validation-for="NewSchedule.Notes" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-status bg-secondary br-tr-7 br-tl-7"></div>
                                    <div class="card-body">
                                        <h5 class="text-black">@Localizer["AddTeamMembers"]</h5>
                                        @* <p class="text-xsmall">All selected users will be given Store User access!</p> *@
                                        <hr class="text-bold" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive export-table">
                                                    <table id="tblMembers" class="table text-nowrap mb-0 key-buttons border-bottom project-list-main">
                                                        <tbody id="table-body">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row custom-spacing">
                                            <hr class="customHR" />
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <select class="form-select select2" id="dd-employees" asp-items="@Model.EmployeesList">
                                                        <option value="0" disabled selected>-@Localizer["SelectEmployee"]-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <select class="form-select select2" id="dd-role">
                                                        <option value="Team Leader">@Localizer["TeamLeader"]</option>
                                                        <option value="Team Member">@Localizer["TeamMember"]</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-info-gradient btn-add-record btn-sm">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="flex">
                            <button type="button" class="btn btn-info" id="btn-submit">
                                <i class="fa fa-check-circle"></i><span class="loading">&nbsp;@Localizer["SaveSchedule"]</span>
                            </button>
                            <a asp-action="Index" asp-controller="Verifications" id="btnCancel" class="btn btn-gray"><i class="fa fa-close"></i>&nbsp;@Localizer["Cancel"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">

            <div class="col-sm-12">
                <a asp-action="Index" asp-controller="Verifications" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script>
        let sData = '';
        let Data = null;
        let selectedTeamMembers = [];
        let memberCounter = 0;
        const isSomali = getCurrentLanguage() === "so";

        const localizedMember = {
            "Team Leader": "@Localizer["TeamLeader"]",
            "Team Member": "@Localizer["TeamMember"]",
        };

        $(document).ready(function () {
            hideMenu();

            sData = '@Html.Raw(Json.Serialize(Model.Employees))';

            $('.select2').select2();
            $('.picker').datepicker({
                autoclose: true,
                format: 'dd-MM-yyyy',
                todayHighlight: true
            });


            $(".btn-add-record").on("click", () => {
                // Get the selected employee name and role
                let selectedEmployeeId = $("#dd-employees").val();
                let selectedEmployeeName = $("#dd-employees option:selected").text();
                let selectedRole = $("#dd-role").val();

                // Ensure both an employee and role are selected
                if (selectedEmployeeId && selectedEmployeeId !== "0" && selectedRole) {
                    // Increment the counter
                    memberCounter++;

                    // Add the selected values to the array
                    selectedTeamMembers.push({
                        id: memberCounter,
                        employeeId: selectedEmployeeId,
                        employeeName: selectedEmployeeName,
                        role: selectedRole
                    });

                    // Generate the table row HTML
                    let rowHtml = `<tr id="member-${memberCounter}">
                                        <td class="text-black bg-transparent border-bottom-0 w-2">${memberCounter}</td>
                                        <td class="text-black bg-transparent border-bottom-0 w-20">${getName(selectedEmployeeId)}</td>
                                        <td class="text-black bg-transparent border-bottom-0 w-10">${localizedMember[selectedRole]}</td>
                                        <td class="text-black bg-transparent border-bottom-0 w-5 no-btn">
                                            <a style="cursor:pointer;" onclick="removeMember(${memberCounter});">
                                                <i class="fa fa-times text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                `;

                    // Append the row to the table body (replace #table-body with your table body selector)
                    $("#table-body").append(rowHtml);

                    $(`#dd-employees option[value='${selectedEmployeeId}']`).remove();

                    if (selectedRole == "Team Leader") {
                        $("#dd-role option[value='Team Leader']").remove();
                    }
                }
            });

            $('#verificationTypeDropdown').change(function () {
                var assetCount = $('#NumberOfAssets').val();

                var selectedValue = $(this).val();

                if (selectedValue === "Custom Verification") {
                    $("#NumberOfAssetsToVerify").val(0).prop("readonly", false);
                } else {
                    $("#NumberOfAssetsToVerify").val(assetCount).prop("readonly", true);
                }
            });

            $("#btn-submit").on("click", () => {
                var blnCheck = true;

                // Get the value of assets to verify and convert to number
                var assetsToVerify = parseInt($('#NumberOfAssetsToVerify').val(), 10);
                var assetCount = parseInt($('#NumberOfAssets').val(), 10);

                // Validate that the number is greater than or equal to 1
                if (isNaN(assetsToVerify) || assetsToVerify < 1 || assetsToVerify > assetCount) {
                    const message = isSomali
                    ? `Qiimaha waa inuu u dhexeeyaa 1 iyo ${assetCount}`
                    : `Value should be between 1 and ${assetCount}`;

                    $("#spanNumberOfAssetsToVerify").text(message);

                    blnCheck = false;
                } else {
                    $("#spanNumberOfAssetsToVerify").text(""); // Clear the error message if valid
                }

                // Check if validation passed and team members are selected
                if (blnCheck && selectedTeamMembers.length > 0) {
                    $("#teamMembersData").val(JSON.stringify(selectedTeamMembers));
                    $("#NewSchedule_NumberOfAssetsToVerify").prop("disabled", false);
                    $("#frmCreateSchedule").submit();
                    $("#btn-submit").addClass("btn-loading btn-icon disabled");

                } else if (selectedTeamMembers.length === 0) {
                    notif({
                        type: "error",
                        msg: isSomali?"<b>Khalad: </b>Xubno Kooxeed lama xulin!":"<b>Error: </b>No Team members selected!",
                        position: "center",
                        width: 500,
                        height: 60,
                        autohide: true
                    });
                }
            });

        });
        const removeMember = id => {
            $(`#member-${id}`).remove();

            let removedMember = selectedTeamMembers.find(member => member.id === id);

            if (removedMember && removedMember.role === "Team Leader") {
                $("#dd-role").append('<option value="Team Leader">Team Leader</option>');
            }

            if (removedMember) {
                $("#dd-employees").append(`<option value="${removedMember.employeeId}">${removedMember.employeeName}</option>`);
            }

            selectedTeamMembers = selectedTeamMembers.filter(member => member.id !== id);
            memberCounter--;
        }
        const getName = (employeeId) => {
            let label = '';
            const employees = JSON.parse(sData);

            if (!employeeId) {
                console.error('Invalid ID');
                return label;
            }

            const employee = employees.find(e => e.id == employeeId);

            if (employee) {
                label = `<span class="avatar avatar-sm rounded-circle cover-image">
                            <img src="${employee.imageUrl}" alt="${employee.fullName}" class="avatar avatar-sm rounded-circle">
                            </span>
                            <span class="employee-name">${employee.fullName}</span>
                        `;
            } else {
                console.warn('Employee not found for ID:', employeeId);
            }

            return label;
        };
    </script>
}