@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model MODAMS.Models.ViewModels.Dto.VerificationScheduleCreateDTO

@{
    ViewData["TourPageKey"] = "Verifications/CreateSchedule";
}

<style>
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }

    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bordered-div {
        border-left: 1px solid lightgray;
        border-top: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .bordered-div-top {
        border-top: 1px solid lightgray;
    }

    .bordered-div-left {
        border-left: 1px solid lightgray;
    }

    .bordered-div-right {
        border-right: 1px solid lightgray;
    }

    .bordered-div-bottom {
        border-bottom: 1px solid lightgray;
    }

    .text-xsmall {
        font-size: 10px;
    }

</style>
<style>
    .custom-spacing {
        display: flex;
        align-items: center;
        gap: 0; /* No gap between columns */
    }

        .custom-spacing .form-group {
            margin-bottom: 0;
        }

        .custom-spacing .col-md-7,
        .custom-spacing .col-md-4,
        .custom-spacing .col-md-1 {
            padding-left: 2px; /* Small padding */
            padding-right: 2px; /* Small padding */
        }

    .btn-add-record {
        height: 30px; /* Match height to the select elements */
        padding: 5px 10px;
    }
</style>

<div class="page-header">
    <div>
        <h1 class="page-title" data-tour="vcs.pagetitle">@Localizer["AssetVerificationSchedule"]</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Home" asp-action="Index">@Localizer["Dashboard"]</a></li>
            <li class="breadcrumb-item"><a asp-area="Users" asp-controller="Verifications" asp-action="Index">@Localizer["Verifications"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Localizer["CreateSchedule"]</li>
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="card divShadow" data-tour="vcs.headerCard">
                        <div class="card-body p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="m-0 text-black">@Localizer["CreateNewSchedule"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <!-- LEFT: form -->
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-status bg-primary br-tr-7 br-tl-7"></div>
                                    <div class="card-body">
                                        <form method="post" asp-action="CreateSchedule" id="frmCreateSchedule" novalidate="novalidate">
                                            <input type="hidden" id="teamMembersData" name="teamMembersData" />
                                            <input type="hidden" id="NewSchedule.StoreId" name="NewSchedule_StoreId" />
                                            <input asp-for="NewSchedule.StoreId" value="@Model.StoreId" hidden />

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.department">
                                                        <label class="text-black">@Localizer["Department"]</label>
                                                        <input type="text" value="@Model.DepartmentName" disabled class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.type">
                                                        <label asp-for="NewSchedule.VerificationType" class="text-black"></label>
                                                        <select asp-for="NewSchedule.VerificationType" class="form-select select2" id="verificationTypeDropdown">
                                                            <option value="Full Verification">@Localizer["FullVerification"]</option>
                                                            <option value="Custom Verification">@Localizer["CustomVerification"]</option>
                                                        </select>
                                                        <span asp-validation-for="NewSchedule.VerificationType" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.numInStore">
                                                        <label class="text-black">@Localizer["NumberOfAssetsInStore"]</label>
                                                        <input id="NumberOfAssets" class="form-control" type="text" value="@Model.NumberOfAssets" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.numToVerify">
                                                        <label asp-for="NewSchedule.NumberOfAssetsToVerify" class="text-black"></label>
                                                        <input asp-for="NewSchedule.NumberOfAssetsToVerify" value="@Model.NumberOfAssets" id="NumberOfAssetsToVerify" class="form-control" readonly />
                                                        <span asp-validation-for="NewSchedule.NumberOfAssetsToVerify" class="text-danger" id="spanNumberOfAssetsToVerify"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.start">
                                                        <label asp-for="NewSchedule.StartDate" class="text-black"></label>
                                                        <input asp-for="NewSchedule.StartDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                        <span asp-validation-for="NewSchedule.StartDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mb-3 form-group" data-tour="vcs.end">
                                                        <label asp-for="NewSchedule.EndDate" class="text-black"></label>
                                                        <input asp-for="NewSchedule.EndDate" asp-format="{0:dd-MMM-yyyy}" class="form-control picker" aria-required="true" type="text" autocomplete="off" />
                                                        <span asp-validation-for="NewSchedule.EndDate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3 form-group mt-2" data-tour="vcs.notes">
                                                        <label asp-for="NewSchedule.Notes" class="text-black"></label>
                                                        <textarea asp-for="NewSchedule.Notes" class="form-control" rows="3"></textarea>
                                                        <span asp-validation-for="NewSchedule.Notes" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row"><div class="col-md-12"></div></div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- RIGHT: team -->
                            <div class="col-md-5">
                                <div class="card" data-tour="vcs.team.card">
                                    <div class="card-status bg-secondary br-tr-7 br-tl-7"></div>
                                    <div class="card-body">
                                        <h5 class="text-black">@Localizer["AddTeamMembers"]</h5>
                                        <hr class="text-bold" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive export-table" data-tour="vcs.team.table">
                                                    <table id="tblMembers" class="table text-nowrap mb-0 key-buttons border-bottom project-list-main">
                                                        <tbody id="table-body"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row custom-spacing">
                                            <hr class="customHR" />
                                            <div class="col-md-7" data-tour="vcs.team.employee">
                                                <div class="form-group">
                                                    <select class="form-select select2" id="dd-employees" asp-items="@Model.EmployeesList">
                                                        <option value="0" disabled selected>-@Localizer["SelectEmployee"]-</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4" data-tour="vcs.team.role">
                                                <div class="form-group">
                                                    <select class="form-select select2" id="dd-role">
                                                        <option value="Team Leader">@Localizer["TeamLeader"]</option>
                                                        <option value="Team Member">@Localizer["TeamMember"]</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-1" data-tour="vcs.team.add">
                                                <button type="button" class="btn btn-info-gradient btn-add-record btn-sm">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /right -->
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="flex">
                            <button type="button" class="btn btn-info" id="btn-submit" data-tour="vcs.submit">
                                <i class="fa fa-check-circle"></i><span class="loading">&nbsp;@Localizer["SaveSchedule"]</span>
                            </button>
                            <a asp-action="Index" asp-controller="Verifications" id="btnCancel" class="btn btn-gray" data-tour="vcs.cancel"><i class="fa fa-close"></i>&nbsp;@Localizer["Cancel"]</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-12">
                <a asp-action="Index" asp-controller="Verifications" id="btnCancel" class="btn btn-outline-default"><i class="fe fe-corner-up-left"></i>&nbsp;@Localizer["Previous"]</a>
            </div>
        </div>
    </div>
</div>

<!-- Store Assets Modal -->
<div class="modal fade" id="mdlStoreAssets" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header bg-gray-300">
                <h5 class="modal-title">@Localizer["StoreAssets"]</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="verificationOverlay" style="display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); z-index:1000; text-align:center;">
                    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                        <i class="fa fa-spinner fa-spin" style="font-size:3rem; color:white;"></i>
                    </div>
                </div>
                <div class="modal-notification"></div>
                <div class="card">
                    <div class="card-body">
                        <label class="h3" id="lblTitle">@Localizer["ListOfAssetsInStore"]</label>
                        <div class="table-responsive export-table">
                            <table id="tblStoreAssets" class="table text-nowrap mb-0 table-bordered key-buttons border-top border-bottom project-list-main">
                                <thead class="bg-primary-gradient ms-auto divShadow">
                                    <tr>
                                        <th class="text-black bg-transparent border-bottom-0 w-2"></th>
                                        <th class="text-black bg-transparent border-bottom-0 w-10">@Localizer["Make"]</th>
                                        <th class="text-black bg-transparent border-bottom-0 w-10">@Localizer["Model"]</th>
                                        <th class="text-black bg-transparent border-bottom-0 w-10">@Localizer["AssetName"]</th>
                                        <th class="text-black bg-transparent border-bottom-0 w-30">@Localizer["SerialNo"]</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-verified">
                                    @foreach (var item in Model.StoreAssets)
                                    {
                                        <tr>
                                            <td class="text-black bg-transparent border-bottom-0 w-2"></td>
                                            <td class="text-black bg-transparent border-bottom-0 w-10">@item.Make</td>
                                            <td class="text-black bg-transparent border-bottom-0 w-10">@item.Model</td>
                                            <td class="text-black bg-transparent border-bottom-0 w-10">@item.Name</td>
                                            <td class="text-black bg-transparent border-bottom-0 w-30">@item.SerialNo</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal">@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script>
        window.VCS_CREATE_CONFIG = {
          employees: @Html.Raw(Json.Serialize(Model.Employees))
        };
    </script>

    
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/js/pages/verifications-createschedule.js"></script>
}